<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" href="/image/woofly.png">
</head>
<body>
	<div th:replace="~{common/topAdd :: topAdd}"></div>
	 <div class="container mt-5 mb-3">
      	<div class="container d-flex px-0 mb-3 border-bottom border-black border-3 justify-content-between align-items-center">
			<h1>자유게시판</h1>
			<h3>게시글 작성하기</h3>
		</div>
		<div class="container">
			<!-- 사진 작성자 작성일자 드롭다운 -->
			<div class="header-container d-flex mt-3 justify-content-between">
				<div class="d-flex">
					<img class="float-start me-4" src="/image/dog1.jpg" alt="" style="height: 50px; width: 50px; border-radius: 50px;">
					<div class="header-text-container">
						<h6></h6>
						<p></p>
					</div>
				</div>
			</div>
			
			<form  action="/board/free/insertFreeBoard" method="POST" enctype="multipart/form-data" id="attmForm">
				<div class="mb-3">
					<label for="title" class="form-label">제목</label>
				  	<input type="text" class="form-control" id="bTitle" name="bTitle" placeholder="제목을 입력하세요">
				</div>
				
				<div class="mb-3">
				  	<label for="content" class="form-label">내용</label>
				  	<textarea class="form-control" id="bContent" name="bContent" rows="20" style="resize: none;"></textarea>
				</div>
				<label for="file" class="form-label">첨부파일</label><br>
				<button type="button" class="btn btn-dark btn-sm h-50" id="addFile">파일추가</button> <br><br>
					<div id="fileArea">
					   
					</div>
				<div class="row border-top border-black pt-3">
					<button class="btn btn-dark">등록</button>
				</div>
			</form>
		</div>
		
		
	</div>
	
	<script>
		// 해당 페이지 nav bar 강조 넣기
		// 페이지 별로 id만 수정 하면 됨 eg.) topAdd1, topAdd2, ...
		const boardNav = document.getElementById("topAdd3");
		$(boardNav).addClass('active');
		
		window.onload = () =>{
			const fileArea = document.querySelector('#fileArea');
			document.getElementById('addFile').addEventListener('click', () =>{
				const newDiv = document.createElement('div');
				newDiv.classList.add('mb-3');
				newDiv.innerHTML = '<input type = "file" class = "form-control form-control-sm" name ="file">';
				
				fileArea.append(newDiv);
			});
			
			console.log(bTitle);
			console.log(bContent);
		}
	</script>
	
</body>
</html>