<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" href="/image/woofly.png">
<style>
	.board-list {
		cursor: pointer;
	}
</style>
</head>
<body>
	<div th:replace="~{common/topAdd :: topAdd}"></div>
	 <div class="container mt-5 mb-3">
      	<div class="container d-flex px-0 mb-3 border-bottom border-black border-3 justify-content-between align-items-center">
			<h1>자유게시판</h1>			
			<a role="button" href="/board/free/write" class="btn btn-dark btn-sm h-50" th:if="${ session.loginUser != null}" >글 작성</a>
		</div>
		
		
			<!--게시글 검색 카테고리 및 검색창-->
		      <div class="mt-3" id="searchArea" >         
		         <div class="row">
		            <label for="search-box" class="form-label">게시글 검색</label>
		            <form action="/board/free" method="get" id="searchForm" name="search-form" class="row"> 
		               <!--select의 부모 div-->
		               <div class="col-auto">
		               <select class="form-select" name="searchType">
		                  <option value="mn" disabled selected>검색조건</option>
		                  <option value="b_title">제목</option>
		                  <option value="mb_nickname">작성자</option>
		                  <option value="mn">작성자 + 제목</option>
		               </select>
		               </div>
		            <!--input의 부모 div-->
		            <div class="col">                  
		                <input type="text" class="form-control" name="searchKeyword" id="search-box" placeholder="검색어를 입력해주세요">
		            </div>
		            <!--button의 부모 div-->
		            <div class="col-auto">
		               <button type="submit" class="btn btn-dark">검색 하기</button>
		            </div>
		            </form>
		         </div>
		      </div>
		
		
		<form id="detailForm">		
		<div class="container board-list">
			<div class="row mt-3 border-top border-secondary text-center board-list" style="height: 80px;" th:each="b : ${list}" th:attr="data-bNo=${b.bNo}">
				<div class="col-1 board" style="line-height: 80px;">[[${ b.bNo }]]</div>
				<div class="col-2 board" style="line-height: 80px;">[[${ b.mbNickname }]]</div>
				<div class="col-6 board" style="line-height: 80px;">[[${ b.bTitle }]]</div>
				<div class="col-2 board" style="line-height: 80px;">[[${ b.bCreateDate }]]</div>
				<div class="col-1 board" style="line-height: 80px;">[[${ b.bCount }]]</div>
			</div> 	 
			
		</div>
		
		<nav class="border-top border-black pt-5"  th:with="loc=${loc}">
		  	<ul class="pagination justify-content-center">
		    	<li class="page-item">
	            	<a class="page-link" th:href="@{${loc}(page=${pi.currentPage-1})}" aria-label="Previous">
	            		<span aria-hidden="true">&laquo;</span>
	              	</a> 
	            </li>
            	<li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
            		<a class="page-link" th:href="@{${loc}(page=${p})}">[[${ p }]]</a>
            	</li> <!-- 게시글 페이지 번호 점점 커지게 하는 것 -->
	            <li class="page-item">
	            	<a class="page-link" th:href="@{${loc}(page=${pi.currentPage+1})}" aria-label="Next">
	            		<span aria-hidden="true">&raquo;</span>
	            	</a>
	            </li>
		  	</ul>
		</nav>
		</form>
	</div>
	
	<script>
		
		// 해당 페이지 nav bar 강조 넣기
		// 페이지 별로 id만 수정 하면 됨 eg.) topAdd1, topAdd2, ...
		const boardNav = document.getElementById("topAdd3");
		$(boardNav).addClass('active');
			
		// 각 게시물 별로 클릭 이벤트 넣는 부분
		
		const boardList = document.querySelectorAll('.board-list .board');
	    boardList.forEach(board => {
	        board.addEventListener('click', () => {
	            const bNo = board.parentElement.querySelector('.board:nth-child(1)').innerText;
	            const currentPage = /*[[${pi.currentPage}]]*/1;
	            window.location.href = `/board/free/detail?bNo=${bNo}&page=${currentPage}`;
	        });
	    });
	    
	    window.onload = () =>{
	    	
	    	
	    	/* document.getElementById('searchArea').addEventListener('click', ()=>{
	    		const category = document.getElementById('search-category').value;
	    		const value = document.getElementById('search-box').value;
	    		
	    		 window.location.href =  `/board/free/search?category=${category}&value=${value}`;
	    	}); */
	    }
	    
	</script>
</body>
</html>