<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" href="/image/woofly.png">
<style>
	table{
		border: 1px solid black;
	}
</style>
</head>
<body>
	<div th:replace="~{common/topAdd :: topAdd}"></div>
	 <div class="container mt-5 mb-3">
      	<div class="container d-flex px-0 mb-3 border-bottom border-black border-3 justify-content-between align-items-center">
			<h1>자유게시판</h1>
		</div>
		<div class="container">
		<form id="detailForm">  <!--  method="POST" -->
			<!-- 사진 작성자 작성일자 드롭다운 -->
			<div class="header-container d-flex mt-3 justify-content-between">
			
				<div class="d-flex">
					<img class="float-start me-4" src="/image/dog1.jpg" alt="" style="height: 50px; width: 50px; border-radius: 50px;">
					<div class="header-text-container">
						<h6>[[${b.mbNickname}]]</h6>
						<p>[[${b.bCreateDate}]]</p>
						<input type="hidden" th:value='${ b.bNo }'  id="bNo" name="bNo">
						<input type="hidden" id="mbId" th:value="${session.loginUser.mbId}">
						<input type="hidden" id="mbNickname" th:value="${session.loginUser.mbNickName}">
						<input type = "hidden" th:value ="${ page }" name ="page">
					</div>
				</div>
				
				<!-- 좋아요 -->
	            <div class="d-flex justify-content-center" style="margin-left: auto; margin-top: 4px;">
	               <svg xmlns ="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" role="button">
	                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
	               </svg>
	               <h4 class="ms-3">53&nbsp;&nbsp;</h4>
	            </div>
				
				<div class="dropdown mt-1">
					<svg xmlns ="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots-vertical dropdown-toggle" data-bs-toggle="dropdown" role="button" viewBox="0 0 16 16">
					  	<path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
					</svg>
					<ul class="dropdown-menu"> <!--  href="/board/free/editForm" -->
						<li><a class="dropdown-item" id="updateForm" th:if="${ session.loginUser!=null && session.loginUser.mbId eq b.mbId }">수정</a></li>
					    <li><a class="dropdown-item" id ="deleteModal"  th:if="${ session.loginUser!=null && session.loginUser.mbId eq b.mbId }">삭제</a></li>
					    <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal1" th:unless="${ session.loginUser!=null && session.loginUser.mbId eq b.mbId }">신고</button></li>
					</ul>
				</div>
			</div>
			
			<!-- 제목 -->
			<div class="row">
				<h1 class="ps-0">[[${b.bTitle}]]</h1>
			</div>
			<!-- 내용 -->
			<div class="row mt-3" style="min-height: 500px;" th:text="${b.bContent}">
			</div>
			
			<!-- 이미지 파일 삽입 -->
			<main class="container py-5">
			    <div class="row">
			        <th:block th:each="a : ${list}">
			            <!-- 이미지 파일일 때 -->
			            <div class="mb-4" th:if="${#strings.containsIgnoreCase(a.renameName, 'jpg') or #strings.containsIgnoreCase(a.renameName, 'png')}">
			                <div class="card">
			                    <img th:src="@{'/image/' + ${a.renameName}}" width="100%" height="200">
			                    <div class="card-body">
			                        <h5 class="card-title">
			                            <a th:href="@{'/image/' + ${a.renameName}}" th:download="${a.originalName}" th:text="${a.originalName}">[[${a.originalName}]]</a>
			                        </h5>
			                    </div>
			                </div>
			            </div>
			            <!-- 이미지 파일이 아닐 때 -->
			            <div class="mb-4" th:unless="${#strings.containsIgnoreCase(a.renameName, 'jpg') or #strings.containsIgnoreCase(a.renameName, 'png')}">
			                <div class="card">
			                    <div class="card-body">
			                        <h5 class="card-title">
			                            <a th:href="@{'/image/' + ${a.renameName}}" th:download="${a.originalName}" th:text="${a.originalName}">[[${a.originalName}]]</a>
			                        </h5>
			                    </div>
			                </div>
			            </div>
			        </th:block>
			    </div>
			</main>


			
			</form>
		</div>
		
		<form id="ReplyForm">
		
						<input type="hidden" th:value='${ b.bNo }'  id="bNo" name="bNo">
						<input type="hidden" id="mbId" th:value="${session.loginUser.mbId}">
						<input type="hidden" id="mbNickname" th:value="${session.loginUser.mbNickName}">
		<!-- 댓글 작성 영역 --> 
		
		<div class="mt-3" th:if="${ session.loginUser != null}" >
			<div class="row g-3 justify-content-center">
				<div class="col-10">
					<input class="form-control" id="replyContent" type="text" placeholder="댓글 작성하기">
				</div>
				<div class="col-auto">
					<button class="btn btn-dark" id="replySubmit">댓글 작성하기</button>
				</div>
			</div>
		</div>
		<br>
		
		<!-- 댓글 조회 영역 -->
		<table class="table">		
			<thead>
				<tr>
					<th style="text-align:center;"> &nbsp;&nbsp;작성자 </th>
					<th> 작성내용 </th>
					<th> 작성일자 </th>	
					<th width="100px">   </th>				
				</tr>
			</thead>
			<tbody>
				<tr th:each="r : ${rList}">
	            	<td width="150px" style="text-align:center;"> 
	            		&nbsp;&nbsp;[[${ r.mbNickname }]]
	            		<input type="hidden" th:value='${ r.rNo }'  id="rNo" name="rNo">
	            	</td>
	            	<td>[[${ r.reContent }]]</td>
	            	<td width="130px">[[${ r.reDate }]]</td>	
	            	<td width="100px">     
		            	<div class="col-2 d-flex align-items-center justify-content-end">
							<div class="mx-2">53</div>
							<div>
								<svg xmlns ="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" role="button">
									<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
								</svg>
							</div>
							<div class="dropdown ms-2 me-5">
								<svg xmlns ="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots-vertical dropdown-toggle" data-bs-toggle="dropdown" role="button" viewBox="0 0 16 16">
								  	<path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
								</svg>
								<ul class="dropdown-menu">
								    <li><a class="dropdown-item" id ="deleteReplyModal"  th:if="${ session.loginUser!=null && session.loginUser.mbId eq b.mbId }">삭제</a></li>
								    <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal1" th:unless="${ session.loginUser!=null && session.loginUser.mbId eq b.mbId }">신고</button></li>
								</ul>
							</div>
						</div>   
					<td>   	
	            </tr>		            
            </tbody>
		</table> 
		
		</form>
		
		
		
		 <!-- 댓글 페이지네이션 --> 
		<nav class="border-top border-black pt-5 mt-3">
		  	<ul class="pagination justify-content-center">
		    	<li class="page-item">
			      	<a class="page-link" href="#">
			        	<span aria-hidden="true">&laquo;</span>
			      	</a>
		    	</li>
			    <li class="page-item"><a class="page-link active" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item"><a class="page-link" href="#">4</a></li>
			    <li class="page-item"><a class="page-link" href="#">5</a></li>
		    	<li class="page-item">	
			      	<a class="page-link" href="#" aria-label="Next">
				    	<span aria-hidden="true">&raquo;</span>
			      	</a>
		    	</li>
		  	</ul>
		</nav>
	</div>
	<!-- 신고 영역 -->
	<form>
		<div class="modal fade" id="modal1" tabindex="-1">
		  	<div class="modal-dialog modal-dialog-centered">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<h1 class="modal-title fs-5" id="modalToggleLabel1">신고</h1>
		        		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		      		</div>
		      		<div class="modal-body">
			      		<select class="form-select mb-3">
						  	<option disabled>신고 사유</option>
						  	<option value="1">불법게시글</option>
						  	<option value="2">음란물</option>
						  	<option value="3">기타</option>
						</select>
		        		<textarea class="form-control" rows="5" style="resize: none;"></textarea>
		    		</div>
		    		<div class="modal-footer">
		        		<button class="btn btn-primary" data-bs-toggle="modal">제출</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
	</form>
	
	<!-- 삭제 -->
	<div class="modal fade" tabindex="-1" role="dialog" id="modalChoice">
		<div class="modal-dialog" role="document">
    		<div class="modal-content rounded-3 shadow">
      			<div class="modal-body p-4 text-center">
        			<h3 class="mb-0">정말로 삭제하시겠습니까?</h3>
        			<p class="mb-0">삭제 후 게시글은 복구할 수 없습니다.</p>
      			</div>
      			<div class="modal-footer flex-nowrap p-0">
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" id="delete">
        				<strong>네</strong>
        			</button>
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">아니오</button>
      			</div>
    		</div>
  		</div>
	</div>
	
	<!-- 댓글 삭제 -->
	<div class="modal fade" tabindex="-1" role="dialog" id="modalChoice2">
		<div class="modal-dialog" role="document">
    		<div class="modal-content rounded-3 shadow">
      			<div class="modal-body p-4 text-center">
        			<h3 class="mb-0">정말로 삭제하시겠습니까?</h3>
        			<p class="mb-0">삭제 후 댓글은 복구할 수 없습니다.</p>
      			</div>
      			<div class="modal-footer flex-nowrap p-0">
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" id="deleteReply">
        				<strong>네</strong>
        			</button>
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">아니오</button>
      			</div>
    		</div>
  		</div>
	</div>
	
	
	<script>
		// 해당 페이지 nav bar 강조 넣기
		// 페이지 별로 id만 수정 하면 됨 eg.) topAdd1, topAdd2, ...
		
	
		
		const boardNav = document.getElementById("topAdd3");
		$(boardNav).addClass('active');
		
		window.onload = () =>{
			const upd = document.getElementById("updateForm");
			const form = document.getElementById('detailForm');			
			if(upd != null){
				upd.addEventListener('click', ()=>{
					form.action = '/board/free/editForm';
					form.submit();
				});
			}
			
			const del = document.getElementById('deleteModal');			
			if(del != null) {
				del.addEventListener('click', () =>{
					$('#modalChoice').modal('show');
				})
			}
			
			document.getElementById('delete').addEventListener('click', () =>{
				form.action = '/board/free/delete';
				form.submit();
			})
			
			const Replyform = document.getElementById('ReplyForm');
			const delRep = document.getElementById('deleteReplyModal');
			if(delRep != null) {
				delRep.addEventListener('click', () =>{
					$('#modalChoice2').modal('show');
				})
			}
			
			document.getElementById('deleteReply').addEventListener('click', () =>{			
				
				 	const rNo = document.getElementById('rNo').value;
				    const boardNo = document.getElementById("bNo").value;
				    
				    $.ajax({
				        url: '/deleteReply.yk',
				        data: { rNo: rNo, bNo: boardNo },
				        success: (data) => {
				            console.log(data);
				            const tbody = document.querySelector('tbody');
				            tbody.innerHTML = '';
				            for (const r of data) {
				                const tr = document.createElement('tr');
				                const writerTd = document.createElement('td');
				                writerTd.innerText = r.mbNickname;
				                const contentTd = document.createElement('td');
				                contentTd.innerText = r.reContent;
				                const dateTd = document.createElement('td');
				                dateTd.innerText = r.reDate;
				                
				                tr.append(writerTd);
				                tr.append(contentTd);
				                tr.append(dateTd);
				                
				                tbody.append(tr);
				            }
				            document.getElementById('replyContent').value = '';
				        },
				        error: (data) => console.log(data),
				});
				    
				    $('#modalChoice2').modal('hide');
			
			})	
			
			document.getElementById('replySubmit').addEventListener('click', () =>{
				const bNo = Number(document.getElementById('bNo').value);
				const mbId = document.getElementById('mbId').value;
			    const mbNickname = document.getElementById('mbNickname').value;
			    
				$.ajax({					
					url: '/insertFreeReply.yk',
					data: {reContent:document.getElementById('replyContent').value, bNo:bNo, mbId: mbId, mbNickname:mbNickname},
					success: (data) =>{
						console.log(data);
						
						const tbody = document.querySelector('tbody');
						tbody.innerHTML = '';
						for(const r of data) {
							console.log(r);
							const tr = document.createElement('tr');
							
							const writerTd = document.createElement('td');
							writerTd.innerText = r.mbNickname;
							const contentTd = document.createElement('td');
							contentTd.innerText = r.reContent;
							const dateTd = document.createElement('td');
							dateTd.innerText = r.reDate;
							
							tr.append(writerTd);
							tr.append(contentTd);
							tr.append(dateTd);
							
							
							tbody.append(tr);
						}
						document.getElementById('replyContent').value = '';
						Replyform.submit();
					},
					error: data => console.log(data)
				});
			})
		}
	</script>
	
</body>
</html>