<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" href="/image/woofly.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
	.card {
		cursor: pointer;
	}
</style>
</head>
<body>
	<div th:replace="~{common/topAdd :: topAdd}"></div>
	 <div class="container mt-5 mb-3">
      	<div class="container d-flex px-0 mb-3 border-bottom border-black border-3 justify-content-between align-items-center">
			<h1>실종신고 게시판</h1>
			<a role="button" href="/board/lost/write" class="btn btn-dark btn-sm h-50">글 작성</a>
		</div>
		
		<!--게시글 검색 카테고리 및 검색창-->
		<div class="mt-3" id="searchArea" >			
			<div class="row">
				<label for="search-box" class="form-label">게시글 검색</label>
				<form action="/board/lost" method="get" id="searchForm" name="search-form" class="row"> 
					<!--select의 부모 div-->
					<div class="col-auto">
					<select class="form-select" name="searchType">
						<option value="" disabled selected>검색조건</option>
						<option value="m_title">제목</option>
						<option value="mb_nickname">작성자</option>
						<option value="mn">작성자 + 제목</option>
					</select>
					</div>
				<!--input의 부모 div-->
				<div class="col">						
			   	 <input type="text" class="form-control" name="searchKeyword" id="search-box" placeholder="검색어를 입력해주세요">
				</div>
				<!--button의 부모 div-->
				<div class="col-auto">
					<button type="submit" class="btn btn-dark">검색 하기</button>
				</div>
				</form>
			</div>
		</div>
		<br>
		<!-- 게시글 -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="cardDeck">
           <div class="col middle" th:each="m : ${mList}">
              <div class="card shadow-sm" style="width: 20rem;"> 
                 <th:block th:each="a: ${aList}" th:if="${a.attmRefNo eq m.mNo}">
                    <img th:src="'/image/board/' + ${a.renameName}" style="width: 318px; height: 318px;">
                 </th:block> 
                 <div class="card-body">
                    <p class="card-text">
						<p th:text="${m.mbNickName}">작성자</p>
						 <label class="bId" th:text="${m.mNo}">No. [[${ m.mNo }]]</label> | 
						 <label class="writer" th:text="${m.mbNickName}">[[${ m.mbNickName }]]</label>
                    </p>
                    <div class="d-flex justify-content-between align-items-center" style="display: inline-block;">
						<h6 th:text="${m.mTitle}">글제목</h6><h6 th:text="${m.mCount}">조회수</h6>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        
		  <!--페이지네이션-->
		  <nav class="center" aria-label="Standard pagination example" style="float: right;" th:with="loc=${loc}">
             <ul class="pagination">
				 <!-- << -->
                <th:block th:if="${ pi.currentPage <= 1}">
                   <li class="page-item">
                      <a class="page-link disable" aria-label="Previous">
                         <span aria-hidden="true">&laquo;</span>
                      </a>
                   </li>
                </th:block>
                <th:block th:unless="${ pi.currentPage <= 1}">
                   <li class="page-item">
                       <a class="page-link" th:href="@{${loc}(page=${pi.currentPage - 1})}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                       </a>
                   </li>
               </th:block>
                	<!--[1] [2] [3]...-->
                    <li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
                        <a class="page-link" th:href="@{${loc}(page=${p})}" th:text="${p}"></a>
                    </li>
                   <!-- >> -->
                   <li class="page-item" th:if="${ pi.currentPage >= pi.maxPage }">
                    <a class="page-link" aria-label="Next">
                       <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
               <th:block th:unless="${ pi.currentPage >= pi.maxPage }")>
                  <li class="page-item">
                   <a class="page-link" th:href="@{${loc}(page=${pi.currentPage + 1})}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                   </a>
                </li>
             </th:block>
            </ul>
          </nav>
          <!--페이지네이션 끝-->
	</div>
	
	<script th:inline="javascript">
		
		window.onload = () => {
			console.log('나는 스크립트야');
			const cardDeck = document.getElementById('cardDeck');
			cardDeck.addEventListener('click', function(event){
				
				
				const target = event.target;
				const topCard = target.closest('.card');
				if(topCard.classList.contains('card')){
					const boardId = topCard.children[1].children[2].innerText
					
					const currentPage = /*[[${pi.currentPage}]]*/1;
					console.log(topCard.children[1].children[2].innerText);
					location.href = '/board/lost/detail?mNo=' + boardId + '&page=' +/*<![CDATA[*/  /*[[${pi.currentPage}]]*/1 /*]]>*/; 
					
					
				}

				
			});
		}
	</script>
	
</body>
</html>