<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	input[type='date'] {
		border: 1px solid #D2D6D9;
		position: relative;
		border-radius: 6px;
		text-align: center;
		width: 100%;
		height: 39px;
		background: url(/image/calendar.png) no-repeat right 5px center / 20px auto; 
	}
	input[type='date']::-webkit-calendar-picker-indicator {
	  position: absolute; 
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  background: transparent; 
	  color: transparent;
	  cursor: pointer;
	}
	
	input[type='date']::before {
	  content: attr(placeholder); 
	  width: 100%;
	  height: 100%;
	}
	input[type='date']:valid::before {
	  display: none; 
	}
</style>
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" href="/image/woofly.png">
</head>
<body>
	<div th:replace="~{common/topAdd :: topAdd}"></div>
	 <div class="container mt-5 mb-3">
      	<div class="container d-flex px-0 mb-4 border-bottom border-black border-3 justify-content-between align-items-center">
			<h1>중고게시판</h1>
			<h3>게시글 수정하기</h3>
			
		</div>
		<div class="container">
			<!-- 사진 작성자 작성일자 드롭다운 -->
			<div class="header-container d-flex mt-3 justify-content-between">
				<div class="d-flex">
					<img class="float-start me-4" src="/image/dog1.jpg" alt="" style="height: 50px; width: 50px; border-radius: 50px;">
					<div class="header-text-container">
						<h6>작성자</h6>
						<p>2023.10.16</p>
					</div>
				</div>
			</div>
			
			<form>
				<div class="mb-3" style="width: 24%;">
					<label for="title" class="form-label">판매 완료 여부</label>
					    <select class="form-select mb-1">
					    	<option value="1">판매중</option>
							<option value="2">예약중</option>
							<option value="3">판매완료</option>
						</select>
				</div>
				<div style="display: flex;">
					<div class="mb-3" style="width: 25%; "> 
						<label for="title" class="form-label">제품명</label>
					  	<input type="text" class="form-control" id="productName" placeholder="">
					</div>
					
					<div class="mb-3" style="width: 25%; margin-left: 10px;">
						<label for="title" class="form-label">제품 상태</label>
					    <select class="form-select mb-1">
					    	<option value="" disabled selected></option>
							<option value="1">상</option>
							<option value="2">중</option>
							<option value="3">하</option>
						</select>
				    </div>
				    <div class="mb-3" style="width: 25%; margin-left: 10px;">
						<label for="title" class="form-label">상품 가격</label>
					  	<input type="text" class="form-control" id="productPrice" onkeyup="inputNumberFormat(this)" placeholder="">
					</div>
				    <div class="mb-3" name="date" style="width: 25%; margin-left: 10px;">
				    	<label for="title" class="form-label">거래 일자</label>				    	
						<input type="date" name="clubSchedule" placeholder="날짜를 선택해주세요">
					</div>
				</div>
				<div class="mb-3">
					<label for="title" class="form-label">제목</label>
				  	<input type="text" class="form-control" id="title" placeholder="">
				</div>
				<div class="mb-3">
				  	<label for="content" class="form-label">내용</label>
				  	<textarea class="form-control" id="content" rows="20" style="resize: none;"></textarea>
				</div>
				<label for="file" class="form-label">첨부파일</label><br>
				<button type="button" class="btn btn-dark btn-sm h-50" id="addFile">파일추가</button> <br><br>
					<div id="fileArea">
					   <div class="mb-3">
					      <input type="file" class="form-control form-control-sm" name="file">
					   </div>
					</div>
				<div class="row border-top border-black pt-3">
					<button class="btn btn-dark">수정하기</button>
				</div>
			</form>
		</div>
		
	</div>
	
	<script>
		// 해당 페이지 nav bar 강조 넣기
		// 페이지 별로 id만 수정 하면 됨 eg.) topAdd1, topAdd2, ...
		const boardNav = document.getElementById("topAdd6");
		$(boardNav).addClass('active');
		
		window.onload = () =>{
			const fileArea = document.querySelector('#fileArea');
			document.getElementById('addFile').addEventListener('click', () =>{
				const newDiv = document.createElement('div');
				newDiv.classList.add('mb-3');
				newDiv.innerHTML = '<input type = "file" class = "form-control form-control-sm" name ="file">';
				
				fileArea.append(newDiv);
			});
		}
	</script>
	
</body>
</html>