<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.woofly.account.model.dao.AccountDAO">
	<select id="login" resultType="Member">
		select *
		from member
		where MB_ID = #{mbId} and mb_status='Y'
	</select>
	
	<select id="idCheck" resultType="_int">
		select count(*)
		from member
		where MB_ID = #{mbId}
	</select>
	
	<select id="nickCheck" resultType="_int">
		select count(*)
		from member
		where MB_NICKNAME = #{mbNickname}
	</select>
	
	<insert id="signUpMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES (#{mbId}, #{mbPwd}, #{mbName}, default, null, #{mbNickName}, #{mbEmail}, #{mbBirth}, #{mbTel}, default, default, default, default, default, null)
	</insert>
	
	<insert id="signUpMemberAddr" parameterType="MemberAddress">
		INSERT INTO MEMBER_ADDRESS
		VALUES (address_seq.nextval, #{addr}, #{mbId}, 'Y', #{mbTel}, #{mbName}, #{postcode}, #{addrDetail})
	</insert>
	
</mapper>