<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.woofly.cart.model.dao.CartDAO">
	
	<select id="selectMyCart" resultType="Cart">
		select *
		from cart
			 join product using(product_id)
		where mb_id = #{id}
	</select>
	
	<select id="selectCartAttm" resultType="productAttm">
		select *
		from attachment
		where attm_ref_type = 'P' and attm_ref_no = #{productId}
	</select>
	
	<update id="updateMyCart">
		update cart
		<if test="all != null">
			set selected = #{all}
			where mb_id = #{id}
		</if>
		<if test="selected != null">
			set selected = #{selected}
			where cart_id = #{cartId}
		</if>
		<if test="quantity != null">
			set quantity = #{quantity}
			where cart_id = #{cartId}
		</if>
	</update>
	
	<select id="selectCart" resultType="Cart">
		select *
		from cart
		where cart_id = #{cartId}
	</select>
</mapper>