<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.woofly.contest.model.dao.ContestDAO">
	
	<insert id="contestOpen">
		insert into contest
		values ( 10004 , #{conGen}, #{conName}, #{conStartDate}, #{conEndDate}, default)
	</insert>
	
	<select id="contestNewList" resultType="Contest">
		select *
		from(
			select *
			from contest
			ORDER BY CON_NO DESC
		)
		where ROWNUM= 1
	</select>
	
	<select id="contestList" resultType="Contest">
		select *
		from contest
		ORDER BY CON_NO DESC
	</select>
	
	<update id="contestUpdate">
		UPDATE contest
		SET CON_GEN = #{conGen},  CON_NAME = #{conName}, CON_START_DATE = #{conStartDate}, CON_END_DATE = #{conEndDate}
		WHERE CON_NO = #{conNo}
	</update>
	
	<update id="updateContestStatus">
		UPDATE contest
		SET CON_STATUS = 'N'
		<![CDATA[
		where CON_END_DATE < #{today}
		]]>
	</update>
	
	<select id="updateBestContest" resultType="Contest">
		select *
		from contest
		<![CDATA[
		where CON_START_DATE <= #{today} AND CON_END_DATE >= #{today}
		]]>
	</select>
	
	<insert id="contestEnroll">
		insert into Participants
		values ( 10021, #{pTitle}, #{pPet}, #{pContent}, default, default, #{petId}, #{contestId}, #{pProduct} )
	</insert>
	
	<select id="contestId" resultType="Contest">
		SELECT *
    	FROM contest
    	<![CDATA[
   		WHERE CON_START_DATE <= #{today} AND CON_END_DATE >= #{today}
   		]]>
	</select>
	
	<select id="searchItem" resultType="ContestItem">
		select *
		from PRODUCT
		WHERE PRODUCT_NAME LIKE '%${pSearch}%'
	</select>	
	
	<!-- count -->
	<select id="getListCount" resultType="_int">	
		SELECT COUNT(*)
		FROM ORDERS o, ORDER_DETAIL d, PRODUCT p
		WHERE o.CUSTOMER_ID = #{id} AND o.ORDER_ID = d.order_id AND d.product_id = p.product_id
	</select>
	
	<select id="itemList" resultType="ContestItem">
		SELECT p.product_name, d.order_detail_id,  o.customer_id, d.order_id, d.product_id,p.price, p.product_status
	    FROM ORDERS o, ORDER_DETAIL d, PRODUCT p
	    WHERE o.CUSTOMER_ID = #{id} AND o.ORDER_ID = d.order_id AND d.product_id = p.product_id
	    ORDER BY d.order_detail_id DESC
	</select>
	
	<insert id="insertAttm">
		INSERT ALL
		<foreach collection="list" item="a">
			INTO ATTACHMENT
			VALUES (NEW_AID, #{a.originalName}, #{a.renameName}, SYSDATE, SYSDATE, #{a.attmPath}, DEFAULT, 'C', #{a.attmRefNo} , #{a.attmLevel})
		</foreach>
		SELECT *
		FROM DUAL
	</insert>
	
	<select id="memberNick" resultType="String">
		SELECT MB_NICKNAME
	    FROM MEMBER
	    WHERE mb_id = #{id}
	</select>
	
	<select id="petList" resultType="map">
		SELECT PET_NAME, PET_ID
	    FROM PET
	    WHERE OWNER_ID = #{id}
	</select>
	
	<select id="petName" resultType="String">
		SELECT PET_NAME
	    FROM PET
	    WHERE PET_ID = #{pId}
	</select>
	
	<select id="thisParticipant" resultType="Participants">
	    SELECT *
	    FROM (
	        SELECT *
	        FROM Participants
	        WHERE PET_ID = #{pId}
	        ORDER BY P_NO DESC
	    )
	    <![CDATA[
	    WHERE ROWNUM <= 1
	    ]]>
	</select>
	
	
	
</mapper>