<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.woofly.member.model.dao.MemberDAO">
	<select id="getBlackList" resultType="Member">
		select *
		from blacklist
		     join member on (blocked_entity = mb_id)
		where blocked_by = #{id} and mb_status = 'Y'
	</select>
	
	<delete id="removeBlock">
		delete from blacklist
		where blocked_entity = #{blockedEntity} and blocked_by = #{loginUser}
	</delete>
	
	<update id="editNickName">
		update member
		set mb_nickname = #{ mbNickName }, next_change = #{ nextChange }
		where mb_id = #{mbId}
	</update>
	
	<update id="editName">
		update member
		set mb_name = #{ mbName }
		where mb_id = #{mbId}
 	</update>
 	
 	<update id="editIntro">
 		update member
 		set mb_intro = #{ mbIntro }
 		where mb_id = #{mbId}
 	</update>
 	
 	<update id="editIsPrivate">
 		update member
 		set is_private = #{ isPrivate }
 		where mb_id = #{mbId}
 	</update>
 	
 	<update id="editMbPhoto">
 		update member
 		set mb_photo = #{ mbPhoto }
 		where mb_id = #{ mbId }
 	</update>
 	
 	<update id="updatePwd">
 		update member
 		set mb_pwd = #{mbPwd}
 		where mb_id = #{mbId}
 	</update>
 	
 	<update id="updateEmail">
 		update member
 		set mb_email = #{mbEmail}
 		where mb_id = #{mbId}
 	</update>
 	
 	<update id="updatePhone">
 		update member
 		set mb_tel = #{mbTel}
 		where mb_id = #{mbId}
 	</update>
 	
 	<update id="updateMbStatus">
 		update member
 		set mb_status = 'N'
 		where mb_id = #{mbId}
 	</update>
 	
 	<insert id="addAddress">
 		insert into member_address
 		values (address_seq.nextval, #{addr}, #{mbId}, #{addrType}, #{mbTel}, #{mbName}, #{postcode}, #{addrDetail})
 	</insert>
 	
 	<select id="selectMyAddress" resultType="MemberAddress">
 		select * from member_address
 		where mb_id = #{ id }
 	</select>
 	
 	<select id="checkAddrType" resultType="_int">
 		select count(*) from member_address
 		where mb_id = #{ mbId } and addr_type = 'Y'
 	</select>
 	
 	<select id="checkAddr" resultType="_int">
 		select count(*) from member_address
 		where mb_id = #{ mbId } and addr = #{addr} and postcode = #{postcode} and addr_detail = #{addrDetail}
 	</select>
 	
 	<update id="updateAddr">
	 	 update member_address
	 	 set addr = #{addr}, addr_type = #{addrType}, mb_tel = #{mbTel}, mb_name = #{mbName}, postcode = #{postcode}, addr_detail = #{addrDetail}
	 	 where addr_id = #{ addrId }
 	</update>
 	
 	<delete id="deleteAddr">
 		delete from member_address
 		where addr_id = #{ addrId }
 	</delete>
</mapper>