<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.woofly.pet.model.dao.PetDAO">
	<insert id="petAdd" parameterType="Pet">
		INSERT INTO pet
		VALUES (pet_seq.nextval, default, #{petName}, #{petBirth}, #{petGender}, #{petWeight}, #{petBreed}, #{petMemo}, default, #{ownerId}, null, #{petIntro})
	</insert>
	
	<select id="petInfoList" resultType="Pet">
		select *
		from pet
		where owner_id = #{ownerId} and pet_status = 'Y'
		order by pet_id desc
	</select>
	
	<select id="petDetail" resultType="Pet">
		select *
		from pet
		where pet_id = #{petId}
	</select>
	
	<update id="petEditName">
		update pet
		set pet_name = #{newPetName}
		where pet_id = #{petId}
	</update> 
	
	<update id="petEditIntro">
		update pet
		set pet_intro = #{newPetIntro}
		where pet_id = #{petId}
	</update> 
	
	<update id="petEditBirth">
		update pet
		set pet_birth = #{newPetBirth}
		where pet_id = #{petId}
	</update> 
	
	<update id="petEditBreed">
		update pet
		set pet_breed = #{newPetBreed}
		where pet_id = #{petId}
	</update> 
	
	<update id="petEditWeight">
		update pet
		set pet_weight = #{newPetWeight}
		where pet_id = #{petId}
	</update> 
	
	<update id="petEditGender">
		update pet
		set pet_gender = #{newPetGender}
		where pet_id = #{petId}
	</update> 
	
	<update id="petEditMemo">
		update pet
		set pet_memo = #{newPetMemo}
		where pet_id = #{petId}
	</update> 
	
	<update id="petDelete">
		update pet
		set pet_status = 'N'
		where pet_id = #{petId}
	</update> 
	
	<update id="editPetPhoto">
		update pet
		set pet_profile= #{petProfile}
		where pet_id = #{petId}
	</update>
	
	<update id="deletePetPhoto">
		update pet
		set pet_profile = default
		where pet_id = #{petId}
	</update>
	
	<insert id="petDiaryWrite" parameterType="Diary">
		<selectKey order="BEFORE" keyProperty="drNo" resultType="_int">
			select diary_seq.nextval from dual
		</selectKey>
		insert into diary
		values (#{drNo}, #{drContent}, #{drDate}, default, #{writerId}, #{petId}, #{petHealth})
	</insert>
	
	<select id="petDiaryList" parameterType="Diary">
		select *
		from diary
			 join pet using(pet_id)
		where dr_status = 'Y' and writer_Id=#{writerId}
		order by dr_date desc
	</select>
	
	<select id="petDiaryDetail" parameterType="Diary">
		select *
		from diary
			join pet using(pet_id)
		where dr_no = #{drNo} and dr_status = 'Y'
	</select>
	
	<update id="petDiaryEdit">
		update diary
		set dr_content = #{drContent} , dr_date = #{drDate}, pet_id = #{petId}, pet_health = #{petHealth}
		where dr_no = #{drNo}
	</update>
	
	<update id="petDiaryDelete">
		update diary
		set dr_status = 'N'
		where dr_no = #{drNo}
	</update>
	
	<insert id="insertPetPhoto" parameterType="Album">
		<selectKey order="BEFORE" keyProperty="abNo" resultType="_int">
			select ab_seq.nextval from dual
		</selectKey>
		insert into album
		values (#{abNo}, #{abContent}, sysdate, default, #{writerId}, #{petId})
	</insert>
	
	<insert id="insertPetAlbum" parameterType="Attachment">
		insert into attachment
		values (attm_seq.nextval, #{originalName}, #{renameName}, default , default, 'test', default, #{attmRefType}, #{attmRefNo}, #{attmLevel})
	</insert>
	
	<select id="selectMyAlbum" resultType="Album">
		select *
		from album
		where ab_status = 'Y' and writer_id = #{id}
	</select>
	
	<select id="selectMyAlbums" resultType="Album">
		select *
		from album
			 join attachment on (ab_no = attm_ref_no)
		where ab_status = 'Y' and writer_id = #{id} and attm_ref_type = 'AB' and attm_level = 1
		order by ab_date desc
	</select>
	
	<select id="selectMyAlbumAttm" resultType="Attachment">
	<!-- 리스트를 뿌려줄 거기 때문에 썸네일 레벨 1인것들을 조건으로 -->
	<!-- 마이펫 사진첩의 abNo를 가진 유일한 썸네일 사진을 반환 -->
		select *
		from attachment
		where attm_status = 'Y' and attm_ref_type = 'AB' and attm_ref_no = #{abNo} and attm_level = 1
	</select>
	
	<select id="petPhotoDetail" resultType="Album">
		select *
		from album 
		    join attachment on (ab_no = attm_ref_no)
		where ab_no= #{abNo} and ab_status = 'Y' and attm_ref_type = 'AB' and attm_ref_no = #{abNo}
		order by attm_level
	</select>
	
	<select id="petInfo" resultType="pet">
		select *
		from pet
			join album using(pet_id)
		where ab_no = #{abNo}
	</select>
	
	<select id="petAlbumDetail" resultType="Album">
		select *
		from album
		where ab_no = #{abNo}
	</select>
	
	<select id="petAttmList" resultType="Attachment">
		select rename_name
		from attachment
    		join album on (ab_no = attm_ref_no)
    	where ab_no = #{abNo} and ab_status = 'Y' and attm_ref_type='AB'
	</select>
	
	<update id="petPhotoDelete">
		update album
		set ab_status = 'N'
		where ab_no = #{abNo}
	</update>
	
</mapper>