<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.woofly.shop.model.dao.ShopDAO">
	<insert id="insertProduct" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="productId">
				SELECT PRODUCT_SEQ.NEXTVAL
				FROM DUAL
		</selectKey>
		INSERT ALL
			INTO PRODUCT					<!-- 1 = productCategoryNo -->
			VALUES (#{productId}, #{productName}, #{price}, DEFAULT, DEFAULT, #{productDetailNo})
			INTO PRODUCT_STOCK
			VALUES (PRO_STOCK_SEQ.NEXTVAL, #{productId}, #{usedStandard}, #{quantity}, #{colorPicker})
		SELECT *
		FROM DUAL
	</insert>
	
	<insert id="insertAttm">
		INSERT ALL
		<foreach collection="list" item="a">
			INTO ATTACHMENT
			VALUES (NEW_AID, #{a.originalName}, #{a.renameName}, SYSDATE, SYSDATE, #{a.attmPath}, DEFAULT, 'P', #{a.attmRefNo}, #{a.attmLevel})
		</foreach>
		SELECT *
		FROM DUAL
	</insert>
	
	<select id="selectCategory" resultType="ProductCategory">
		SELECT *
		FROM PRODUCT_CATEGORY
			<if test="i != null">
		   		JOIN PRODUCT_DETAIL_CATEGORY USING(PRODUCT_CATEGORY_NO)
		    </if>
	</select>
	
	<select id="selectProducts" resultType="Product">
	    SELECT *
	    FROM PRODUCT
		    LEFT JOIN PRODUCT_STOCK USING(PRODUCT_ID)
	    ORDER BY PRODUCT_ID
	</select>
	
	<!-- 상품사진 전용 -->
	<select id="selectProductAttm" resultType="ProductAttm">
		SELECT *
		FROM ATTACHMENT
		WHERE ATTM_REF_TYPE = 'P' 
		<if test="string != null">
			AND ATTM_LEVEL = '1'
		    AND (ATTM_REF_NO, ATTM_ID) IN (
		        SELECT ATTM_REF_NO, MIN(ATTM_ID)
		        FROM ATTACHMENT
		        WHERE ATTM_REF_TYPE = 'P' AND ATTM_LEVEL = '1'
		        GROUP BY ATTM_REF_NO
		    )
		</if>
	</select>
	
</mapper>