<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="contestNav">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
</head>
<body>
	<div class="navbar mb-5 mt-4">
		<div class="container-fluid flex-column align-items-start mb-auto">
			<a class="navbar-brand" href="/contest/list" style="margin-top: 10%">
				<h2> 콘테스트 </h2>
			</a>
			
			<ul class="nav flex-column" style="margin-top: 30%">
<!-- 			<li class="nav-item">
			    	<a class="nav-link text-secondary" style="padding-left: 0px; padding-bottom: 0px;" href="/info/company"><h4 class="mt-5" id="myNav3" style="color: black">협력업체</h4></a>
			  	</li>		 -->
			 	<li class="nav-item">
			    	<a class="nav-link text-secondary" style="padding-left: 0px; padding-bottom: 0px;"  href="/contest/list"><h4 class="mt-3" id="cmyNav1" style="color: black">콘테스트</h4></a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link text-secondary" style="padding-left: 0px; padding-bottom: 0px;" href="/contest/allList"><h4 class="mt-5" id="cmyNav2" style="color: black">역대 콘테스트</h4></a>
			  	</li>
			  		  	
			</ul>
					
		</div>
	</div>
</body>
</html>