<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="topAdd">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<style>
	.offcanvas a {
		border-radius: 23px;
		margin: 5px;
	}
</style>
</head>
<body>
	<nav class="navbar sticky-top bg-white pb-0 border-bottom">
		<div class="container-fluid justify-content-end mx-5">
			<ul class="nav bg-white">
				<li class="nav-item"><a class="nav-link text-black" href="#"><small>고객센터</small></a></li>
				<li class="nav-item"><a class="nav-link text-black" href="/my"><small>마이페이지</small></a></li>
				<li class="nav-item"><a class="nav-link text-black" href="#"><small>관심</small></a></li>
				<li class="nav-item"><a class="nav-link text-black" href="#offcanvas" data-bs-toggle="offcanvas" role="button"><small>알림</small></a></li>
				<li class="nav-item"><a class="nav-link text-black" href="/account/login"><small>로그인</small></a></li>
			</ul>
		</div>
		<div class="container-fluid mx-5">
	   		<a class="navbar-brand" href="/"><img src="image/woofly.png" alt="Woofly" width="100" height="60"></a>
	   		<ul class="nav">
	   			<li class="nav-item"><a class="nav-link text-black" id="top1" href="/">HOME</a></li>
	   			<li class="nav-item"><a class="nav-link text-black" id="top2" href="#">SHOP</a></li>
	   			<li class="nav-item"><a class="nav-link text-black" id="top3" href="#">MAP</a></li>
	   		</ul>
		</div>
		<div class="container-fluid mx-5 ps-4 mt-3">
			<ul class="nav nav-underline">
	   			<li class="nav-item"><a class="nav-link text-black" id="topAdd1" href="/">추천</a></li>
	   			<li class="nav-item"><a class="nav-link text-black" id="topAdd2" href="/contest/list">개통령</a></li>
	   			<li class="nav-item"><a class="nav-link text-black" id="topAdd3" href="/board/free">자유게시판</a></li>
	   			<li class="nav-item"><a class="nav-link text-black" id="topAdd4" href="/board/dw">도그워커</a></li>
	   			<li class="nav-item"><a class="nav-link text-black" id="topAdd5" href="/board/wm">산책메이트</a></li>
	   			<li class="nav-item"><a class="nav-link text-black" id="topAdd6" href="/board/used">중고거래</a></li>
	   			<li class="nav-item"><a class="nav-link text-black" id="topAdd7" href="/board/lost">실종신고</a></li>
	   		</ul>
		</div>
	</nav>
	
	<div class="offcanvas offcanvas-end w-20" data-bs-backdrop="static" data-bs-scroll="true" tabindex="-1" id="offcanvas">
	  	<div class="offcanvas-header">
		    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
		    <h5 class="offcanvas-title" id="offcanvasLabel">알림</h5>
  		</div>
  		<div class="offcanvas-body">
  			<div class="mb-5 d-flex flex-wrap">
	  			<a class="btn btn-outline-secondary btn-sm px-3 active" href="#">전체</a>
	  			<a class="btn btn-outline-secondary btn-sm px-3" href="#">거래</a>
	  			<a class="btn btn-outline-secondary btn-sm px-3" href="#">좋아요</a>
	  			<a class="btn btn-outline-secondary btn-sm px-3" href="#">댓글</a>
	  			<a class="btn btn-outline-secondary btn-sm px-3" href="#">관리자</a>
	  			<a class="btn btn-outline-secondary btn-sm px-3" href="#">관심</a>
	  			<a class="btn btn-outline-secondary btn-sm px-3" href="#">기타</a>
  			</div>
  			
    		<p>Try scrolling the rest of the page to see this option in action.</p>
  		</div>
	</div>
	
</body>
</html>