<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>WOOFLY</title>
	
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<style>
.abcd {
  display: flex;
}

.left {
  flex: 1;
}

.left img {
  width: 100%;
  height: auto;
}

.right {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.image-gallery {
  display: flex;
  flex-direction: column; /* 세로로 배열하도록 설정 */
  margin-top: 20px;
}

.image-gallery img {
  width: 100%; /* 조절 가능한 크기로 설정 */
  height: auto;
  margin-bottom: 10px; /* 이미지 간 간격 조절 */
}
.horizontal-images img {
  width: calc(10% - 10px); /* 조절 가능한 크기로 설정 (간격 포함) */
  height: auto;
  margin-right: 10px; /* 이미지 간 간격 조절 */
}
</style>

<body>
	
	<div th:replace="~{common/top :: top}"></div>
	
	<main>
		<div class="container-fluid d-flex mx-5">
			
			<!-- 관리자만 보이게!!!!!!!!!!!!!!!!!!! -->
			<div th:replace="~{common/adminNav :: adminNav}"></div>
			
			<!-- 마이페이지 아래만 수정해주세요 -->
			<div class="col-10 mb-5">
				
				<div class="container mx-5 mt-5">
					<div class="container d-flex px-0 border-bottom border-black border-3 justify-content-between align-items-center">
						<h1>콘테스트</h1>
						<!-- 회원만 보이도록 -->
						<a role="button" href="#" class="btn btn-dark btn-sm h-50">콘테스트 참가</a>
					</div>
					
					<div class="abcd">
						<div class="left">
							<th:block th:each="m : ${mList}">
					    		<img th:src="'/image/contestFiles/' + ${m.renameName}" alt="Image">
					    	</th:block>
					    </div>
						    <div class="right">
								<h2>[[${ p.pTitle }]]</h2>
								<p>강아지 이름 : [[${ p.pPet }]]</p>
								<p>내 용 :  &emsp;[[${ p.pContent }]]</p>
								<p>견 종 : 왜 없지?</p>
								<p>닉네임 : </p>
								<form action="/contest/bestDogVote" id="bestDogVote">
					    	<input type="hidden" name="voteCheck" th:value="${voteCheck}">
						    <input type="hidden" name="pNo" th:value="${pNo}" id="pNo">
						    <input type="hidden" name="page" th:value="${page}" id="page">
						    
						    <button type="button" class="btn btn-outline-dark btn-lg" id="heart" th:if="${ session.loginUser != null &&  voteCheck == 0 }"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-hearts" viewBox="0 0 16 16">
 									<path fill-rule="evenodd" d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z"/></svg> 추천 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-hearts" viewBox="0 0 16 16">
 									<path fill-rule="evenodd" d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z"/></svg></button>
						    <button type="button" class="btn btn-outline-dark btn-lg" id="duplication" th:if="${session.loginUser != null &&  voteCheck == 1}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-hearts" viewBox="0 0 16 16">
 									<path fill-rule="evenodd" d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z"/></svg> 추천 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-hearts" viewBox="0 0 16 16">
 									<path fill-rule="evenodd" d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z"/></svg></button>
						    <button type="button" class="btn btn-outline-dark btn-lg" id="nologin" th:if="${ session.loginUser == null }"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-hearts" viewBox="0 0 16 16">
 									<path fill-rule="evenodd" d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z"/></svg> 추천 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-hearts" viewBox="0 0 16 16">
 									<path fill-rule="evenodd" d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z"/></svg></button>
						    
					    </form>
						    </div>
						</div>
					
						<div class="image-gallery">
							<th:block th:each="m : ${mList}">
					    		<img th:src="'/image/contestFiles/' + ${m.renameName}" alt="Image">
					    	</th:block>
							<th:block th:each="a : ${aList}">
								<img th:src="'/image/contestFiles/' + ${a.renameName}" alt="Image">
					    	</th:block>
						</div>
						<div class="horizontal-images">
						
							<th:block th:each="p : ${productList}">
								<img th:src="'/image/shopFiles/' + ${p.renameName}" >
								<p class="image-title" style="display: inline-block;">Image 1 Title</p>
					    	</th:block>

						</div>
					
					
					
					
					<div class="slider-2">    
						<div class="side-btns">
							<div><span><i class="fas fa-caret-left"> pNo :  [[${  pNo  }]]</i></span></div>
							<div><span><i class="fas fa-caret-left"> voteCheck :  [[${  voteCheck  }]]   0 중복없음</i></span></div>
							<div><span><i class="fas fa-caret-left"> mList :  [[${  mList  }]] 메인 이미지</i></span></div>
							<div><span><i class="fas fa-caret-left"> aList :  [[${  aList  }]] 서브 이미지</i></span></div>
							<div><span><i class="fas fa-caret-left"> p :  [[${  p  }]]  내 정보 </i></span></div>
					    	<div><span><i class="fas fa-caret-left"> page :  [[${  page  }]] 페이지</i></span></div>
					        <div><span><i class="fas fa-caret-right"> pList :  [[${  pList  }]]  상품리스트</i></span></div>
					    </div>
					    
					    <div class="slides">
					        <div class="active" style="background-image:url(https://thumb.mt.co.kr/06/2023/08/2023081414301516852_16.jpg/dims/optimize/);"></div>
					        <div style="background-image:url(https://m1.daumcdn.net/cfile249/image/99DAB3335E0A135C292D12);"></div>
					        <div style="background-image:url(https://image.dongascience.com/Photo/2020/03/5bddba7b6574b95d37b6079c199d7101.jpg);"></div>
					        <div style="background-image:url(https://flotshop.com/web/product/big/202103/b7725b727acd64d50a94a584034d23da.jpg);"></div>
					    </div>
					    
					    <form action="/contest/bestDogVote" id="bestDogVote">
					    	<input type="hidden" name="voteCheck" th:value="${voteCheck}">
						    <input type="hidden" name="pNo" th:value="${pNo}" id="pNo">
						    <input type="hidden" name="page" th:value="${page}" id="page">
						    <button type="button" class="btn btn-outline-dark btn-lg" id="heart">추천</button>
						    <button type="button" class="btn btn-outline-dark btn-lg" id="duplication">추천(중복) 안눌리게?</button>
						    <button type="button" class="btn btn-outline-dark btn-lg" id="nologin">추천(비회원) 이건 로그인으로?</button>
					    </form>
					    
					     <th:block th:each=" m : ${mList}">
						    <div class="album-cover" th:style="'background-image: url(/image/contestFiles/' + ${m.renameName} + ');'  " alt="콘테스트 사진" style="width: 100px; height: 100px">
							</div>
						</th:block>	
						<th:block th:each=" a : ${aList}">
						    <div class="album-cover" th:style="'background-image: url(/image/contestFiles/' + ${a.renameName} + ');' " alt="콘테스트 사진" style="width: 100px; height: 100px">werewr
							</div>
						</th:block>
					    
					    <div class="page-nav">
					        <div class="active"></div>
					        <div></div>
					        <div></div>
					        <div></div>
					    </div>
					</div>
					

				</div>	
			</div>
		</div>
		<!-- 모달 -->
		<div class="modal fade" tabindex="-1" role="dialog" id="modalChoice">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content rounded-1 shadow">
		            <div class="modal-body p-4 text-center">
		                <h4 id="modalTitle" class="mb-1">11.</h4>
		                <p id="modalContent" class="mb-1">22.</p>
		            </div>
		            <div class="modal-footer flex-nowrap p-1">
		                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" id="checkFile">
		                    <strong>네</strong>
		                 </button>
		                 <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">아니오</button>
		            </div>
		        </div>
		    </div>
		</div>
	</main>
	
	<script th:inline="javascript">

	
	
		window.onload = () => {
			const anav = document.getElementById('myNav5')
			anav.style.fontWeight = 'bold';
		}
		
		
		
		document.getElementById('heart').addEventListener('click', () =>{
			
			const form = document.getElementById('bestDogVote');
			var newTitle = '추천 하시겠습니까';
	        var newContent = '추천시 취소 불가합니다.';
			
			document.getElementById('modalTitle').innerText = newTitle;
		    document.getElementById('modalContent').innerText = newContent;
			$('#modalChoice').modal('show');
			
			form.submit();
			
		});
		
		document.getElementById('duplication').addEventListener('click', () =>{
			
			var newTitle = '이미 추천 하셨습니다.';
	        var newContent = '중복 추천은 불가능 합니다.';
			
			document.getElementById('modalTitle').innerText = newTitle;
		    document.getElementById('modalContent').innerText = newContent;
		    
			$('#modalChoice').modal('show');
			
		});
		
		document.getElementById('nologin').addEventListener('click', () =>{

			var newTitle = '로그인시 추천 가능합니다.';
	        var newContent = ' 로그인을 원하시면 "네"를 눌러주세요  ';
			
			document.getElementById('modalTitle').innerText = newTitle;
		    document.getElementById('modalContent').innerText = newContent;
		    
		    var checkFileId = document.getElementById('checkFile')
		    
		    // 새로운 아이디로 변경
		    var newElementId = 'newCheckFileId';  // 여기에 새로운 아이디 이름을 지정하세요
		    checkFileId.id = newElementId;
		    
			$('#modalChoice').modal('show');
			
			document.getElementById('newCheckFileId').addEventListener('click', () =>{
				
				var checkFileId = document.getElementById('newCheckFileId')
				
				 // 새로운 아이디로 변경
			    var newElementId = 'checkFile';  // 여기에 새로운 아이디 이름을 지정하세요
			    checkFileId.id = newElementId;
				
				location.href = '/account/login'  ;
			});
			
		});
		
		document.getElementById('checkFile').addEventListener('click', () =>{
			
			const pNo = document.getElementById('pNo').value;
			const page = document.getElementById('page').value;
			
			location.href = '/contest/selectContest?pNo=' + pNo + '&page=' + page ;
		});
		
		
	</script>
	
</body>
</html>