<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="icon" href="image/woofly.png">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<style>
.board-list {cursor: pointer;}
a{color:#000;}
.mask{width:100%; height:100%; position:fixed; left:0; top:0; z-index:10; background:#000; opacity:.5; filter:alpha(opacity=50);}
#modalLayer{display:none; position:relative;}
#modalLayer .modalContent{width:500px; height:700px; padding:20px; border:1px solid #ccc; position:fixed; left:50%; top:50%; z-index:11; background:#fff;}
#modalLayer .modalContent button{position:absolute; right:0; top:0; cursor:pointer;}
</style>
</head>
<body>
   <div th:replace="~{common/top :: top}"></div>
	<!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
	<main>
		<div class="container-fluid d-flex mx-5">
			<!-- 마이프로필에 공통적으로 들어가는 왼쪽 탭형식에 네비게이션 바 -->
			
			<!-- 관리자만 보이게!!!!!!!!!!!!!!!!!!! -->
			<div th:replace="~{common/adminNav :: adminNav}"></div>
			
			<!-- 마이페이지 아래만 수정해주세요 -->
			<div class="col-10 b-5">
				<div class="container mt-4">
					<div class="row">
						<!-- 첫 번째 div: 신고에 관한 정보 -->
						<div class="col-md-12 mb-4">
							<div class="card">
								<div class="card-header">
									<h4>콘테스트 참가</h4>
								</div>
								<div class="card-body">
									<table class="table">
										<tbody>
											<tr>
												<th>제목</th>
												<td>
													<input class="form-control" type="text" aria-label="default input example" placeholder="제목">
												</td>
											</tr>                                                   
											<tr>
												<th>강아지이름</th>
												<td>
													<input class="form-control" type="text" aria-label="default input example" placeholder="강아지이름">
												</td>
											</tr>
											<tr>
												<th>내용</th>
												<td>
													<textarea class="form-control" rows="6" placeholder="내용" style="resize: none;"></textarea>
												</td>
											</tr>
											<tr>
												<th>사진</th>
												<td>															
											        <div id="fileArea">
											        	<div class="mb-3">
											        		<input type="file" class="form-control form-control-sm" name="file">
											        	</div>
											        </div>
											        <button type="button" class="w-15 btn btn-outline-dark" id="addFile">+ 파일추가</button>
												</td>
											</tr>
											<tr>
												<th>검색</th>
												<td>
													<button type="button" class="btn btn-sm fs-10 col-1 m-0 rounded-2 btn-outline-dark" id="modalLink"  >검색</button>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="container text-center">
										<button type="button" class="btn btn-lg fs-10 col-2 m-0 rounded-2 btn-outline-primary">등록</button>
										<button type="button" class="btn btn-lg fs-10 col-2 m-0 rounded-2 btn-outline-dark">이전</button>
									</div>
								</div>
							</div>
						</div>
					</div>                    
				</div>
			</div>
		</div>
        
		<div id="modalLayer">
			<div class="modalContent">
				<button type="button" class="btn-close" aria-label="Close" id="modalLink"> </button>		
				
				<br>
				<span style="margin-left: 40px;">애완용품</span>
				<div style="display: inline-block; margin-left: 40px;" >
					<input type="text" placeholder="검색" >
				</div>
				<div style="display: inline-block; margin-left: 30px;">
					<input class="btn btn-sm btn-outline-dark" type="button" value="검색">
				</div>
				<table class="table" style="margin-top: 30px;">
					<thead>
						<tr>
							<th scope="col" >#</th>
							<th scope="col">사진</th>
							<th scope="col">애완용품명</th>
							<th scope="col">선택</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td><input type="image" alt="사진"></td>
							<td>zxc</td>
							<td><input type="checkbox" style="width: 20px; height: 20px;"></td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td><input type="image" alt="사진"></td>
							<td>qwe</td>
							<td><input type="checkbox" style="width: 20px; height: 20px;"></td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td ><input type="image" alt="사진"></td>
							<td>sad</td>
							<td><input type="checkbox" style="width: 20px; height: 20px;"></td>
						</tr>
					</tbody>					 
				</table>
				<div style="text-align: center;">
	 				<input class="btn btn-outline-dark" type="button" value="등록" >			
				</div>
			</div>
		</div>        
    </main>
	
<script>
	
	$(document).ready(function(){
		var modalLayer = $("#modalLayer");
		var modalLink = $("#modalLink");
		var modalCont = $(".modalContent");
		var marginLeft = modalCont.outerWidth()/2;
		var marginTop = modalCont.outerHeight()/2; 
	
	
		modalLink.click(function(){
			modalLayer.fadeIn("slow");
			modalCont.css({"margin-top" : -marginTop, "margin-left" : -marginLeft});
			$(this).blur();
			$(".modalContent > a").focus(); 
			return false;
		});
		
		$(".modalContent > button").click(function(){
			modalLayer.fadeOut("slow");
			modalLink.focus();
		});		
	});

	window.onload = () =>{
		const fileArea = document.querySelector('#fileArea');
		document.getElementById('addFile').addEventListener('click', () =>{
			const newDiv = document.createElement('div');
			newDiv.classList.add('mb-3');
			newDiv.innerHTML = '<input type="file" class="form-control form-control-sm" name="file">';
			
			fileArea.append(newDiv);
		
		});
	
		const form = document.getElementById('attmForm');
		document.getElementById('submitAttm').addEventListener('click', () =>{
			const files = document.getElementsByName('file');
			console.log(files);
			let isEmpty = true;
			for(const f of files) {
				if(f.value != '') {
					isEmpty = false;
				}
			}
			
			if(isEmpty) {
				$('#modalChoice').modal('show');
			} else {
				form.submit();
			}
		});
	
		document.getElementById('moveBoard').addEventListener('click', () =>{
			form.submit();
		});
	}	
</script>
	
	
</body>
</html>