<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" href="image/woofly.png">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<style>
	.board-list {
		cursor: pointer;
	}
</style>
</head>
<body>
    <div th:replace="~{common/top :: top}"></div>
	<!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
	<main>
		<div class="container-fluid d-flex mx-5">
			<!-- 마이프로필에 공통적으로 들어가는 왼쪽 탭형식에 네비게이션 바 -->
			
			<!-- 관리자만 보이게!!!!!!!!!!!!!!!!!!! -->
			<div th:replace="~{common/adminNav :: adminNav}"></div>
			
			<!-- 마이페이지 아래만 수정해주세요 -->
			<div class="container mt-4 col-10 mb-5" >
				<!-- 첫 번째 div: 신고에 관한 정보 -->
				<div class="col-md-12 mt=1 mb-4" >
					<div class="card">
						<div class="card-header">
							<h4>콘테스트 수정</h4>
						</div>
						<div class="card-body">
							<table class="table">
								<tbody>
									<tr>
										<th>콘테스트 기수</th>
										<td>
											<input class="form-control" type="text" aria-label="default input example" value="default값 줄꺼임">
										</td>
									</tr>                                                   
									<tr>
										<th>콘테스트 테마</th>
										<td>
											<input class="form-control" type="text" aria-label="default input example" value="default값 줄꺼임">
										</td>
									</tr>
									<tr>
										<th>콘테스트 시작일</th>
										<td>
											<input type="date">
										</td>
									</tr>
									<tr>
										<th>콘테스트 종료일</th>
										<td>
											<input type="date">
										</td>
									</tr>
								</tbody>
							</table>
							<div class="container text-center">
								<button type="button" class="btn btn-lg fs-10 col-2 m-0 rounded-2 btn-outline-primary">수정</button>
						        <button type="button" class="btn btn-lg fs-10 col-2 m-0 rounded-2 btn-outline-dark">이전</button>
  								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
</body>
</html>