<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>

<link rel="icon" href="image/woofly.png">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/contestDetail.css" /> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/contestDetail.css}" /> 
</head>
<body>
	
	<div th:replace="~{common/top :: top}"></div>
	<!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
	<main>
		<div class="container-fluid d-flex mx-5">
			<!-- 마이프로필에 공통적으로 들어가는 왼쪽 탭형식에 네비게이션 바 -->
			
			<!-- 관리자만 보이게!!!!!!!!!!!!!!!!!!! -->
			<div th:replace="~{common/adminNav :: adminNav}"></div>
			
			<!-- 마이페이지 아래만 수정해주세요 -->
			<div class="col-10 mb-5">
				<div class="offcanvas offcanvas-end w-20" data-bs-backdrop="static" data-bs-scroll="true" tabindex="-1" id="offcanvas">
					<div class="offcanvas-header">
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
						<h5 class="offcanvas-title" id="offcanvasLabel">알림</h5>
					</div>
					<div class="offcanvas-body">
						<div class="mb-5 d-flex flex-wrap">
							<a class="btn btn-outline-secondary btn-sm px-3 active" href="#">전체</a>
							<a class="btn btn-outline-secondary btn-sm px-3" href="#">거래</a>
							<a class="btn btn-outline-secondary btn-sm px-3" href="#">좋아요</a>
							<a class="btn btn-outline-secondary btn-sm px-3" href="#">댓글</a>
							<a class="btn btn-outline-secondary btn-sm px-3" href="#">관리자</a>
							<a class="btn btn-outline-secondary btn-sm px-3" href="#">관심</a>
							<a class="btn btn-outline-secondary btn-sm px-3" href="#">기타</a>
						</div>                        
 						<p>Try scrolling the rest of the page to see this option in action.</p>
					</div>
				</div>
				
				<div class="container mx-5 mt-5">
					<div class="container d-flex px-0 border-bottom border-black border-3 justify-content-between align-items-center">
						<h1>콘테스트</h1>
						<!-- 관리자만 보이도록 -->
						<a role="button" href="#" class="btn btn-dark btn-sm h-50">콘테스트 참가</a>
					</div>
					
					<div class="slider-2">    
						<div class="side-btns">
					        <div><span><i class="fas fa-caret-left"> </i></span></div>
					        <div><span><i class="fas fa-caret-right"> </i></span></div>
					    </div>
					    
					    <div class="slides">
					        <div class="active" style="background-image:url(https://thumb.mt.co.kr/06/2023/08/2023081414301516852_16.jpg/dims/optimize/);"></div>
					        <div style="background-image:url(https://m1.daumcdn.net/cfile249/image/99DAB3335E0A135C292D12);"></div>
					        <div style="background-image:url(https://image.dongascience.com/Photo/2020/03/5bddba7b6574b95d37b6079c199d7101.jpg);"></div>
					        <div style="background-image:url(https://flotshop.com/web/product/big/202103/b7725b727acd64d50a94a584034d23da.jpg);"></div>
					    </div>
					    
					    <div class="page-nav">
					        <div class="active"></div>
					        <div></div>
					        <div></div>
					        <div></div>
					    </div>
					</div>
					
					<div style="display: inline-block;">
						
					</div>	
					
				</div>	
				
				
				
				
				
			</div>
		</div>
	</main>
	
	<script>
	$('.slider-2 .page-nav > div').click(function() {
	    
	    var $this = $(this);
	    var $pagenav = $this.parent()
	    var $current = $pagenav.find('.active');
	    
	    $current.removeClass('active');
	    $this.addClass('active');
	
	    var index = $this.index();
	    var $슬라이더 = $this.closest('.slider-2');
	    
	    $슬라이더.find('.slides > div.active').removeClass('active');
	    $슬라이더.find('.slides > div').eq(index).addClass('active');
	    
	    
	});
	
	$('.slider-2 > .side-btns > div:first-child').click(function() {
	    var $this = $(this);
	    var $slider = $this.closest('.slider-2');
	    
	    var $current = $slider.find('.page-nav > div.active');
	    var $post = $current.prev();
	    
	    if ( $post.length == 0 ) {
	        $post = $slider.find('.page-nav > div:last-child');
	    }
	    
	    $post.click();
	});
	
	$('.slider-2 > .side-btns > div:last-child').click(function() {
	    var $this = $(this);
	    var $slider = $this.closest('.slider-2');
	    
	    var $current = $slider.find('.page-nav > div.active');
	    var $post = $current.next();
	    
	    if ( $post.length == 0 ) {
	        $post = $slider.find('.page-nav > div:first-child');
	    }
	    
	    $post.click();
	});
</script>
	
</body>
</html>