<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="icon" href="/image/woofly.png">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<style>
	.active {
		color: black !important;
		font-weight: 700 !important;
	}
</style>
</head>
<body>
	<!-- top navigation bar -->
	<!-- 마이 페이지에 공통으로 들어가는 navigation bar -->
	<div th:replace="~{common/top :: top}"></div>
	<!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
	<main>
		<div class="d-flex justify-content-between mx-5">
			<div th:replace="~{common/myNav :: myNav}"></div>
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<div class="col-10 pt-3 mb-5 me-4">
				<div class="border-bottom border-3 border-black mb-3">
					<h3>마이펫 추가</h3>
				</div>
				<h4>마이펫 정보</h4>
				<br>
				<div class="col-6">
					<p class="text-secondary">마이펫 프로필 사진</p>
						<div class="d-flex align-items-center mt-2 mb-4" style="height: 150px;">
		                  <img th:src="@{ ${'/image/' + session.loginUser.mbPhoto } }" class="mx-3" style="width: 150px; height: 150px; border-radius: 100px; border: 1px solid black; font-size: 1rem">
		               </div>
		               <div class="d-flex">
		              	 <!-- <button class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modal1">편집</button> -->
		              	 <!-- <button class="btn btn-dark btn-sm">삭제</button> -->
	              	    <form action="/editPetPhoto.dw" method="POST" enctype="multipart/form-data" id="petPhotoForm">
							<button type="button" class="btn btn-sm btn-outline-dark" onclick="profileChange()">프로필 변경</button>&nbsp;&nbsp;
							<input type="file" id="profile" name="file" style="display: none;" accept="image/*" value="123">
						</form>
						<form action="/deletePetPhoto.dw" method="POST">
							<button type="button" class="btn btn-dark btn-sm">삭제</button>
						</form>
		   			   </div>
		   		</div>
   			   
				<br>
				<form action="/petAdd.dw" method="post">
					<div class="col-6">
						<p class="text-secondary">강아지 이름</p>
						<div class="border-bottom d-flex justify-content-between">
							<input type="text" name="petName" style="border: none; background: transparent;">
						</div>
					</div>
					<br>
					<div class="col-5">
						<p class="text-secondary">생년월일<p>
						<div class="d-flex">
							<input type="date" name="petBirth"class="form-control d-block" style="width: 200px;">
						</div>
					</div>
					<br>
					<div class="col-2">
						<p class="text-secondary">견종<p>
						<select class="form-select" aria-label="Default select example" name="petBreed">
						  <option selected>선택</option>
						  <option>골든리트리버</option>
						  <option>그레이하운드</option>
						  <option>노리치테리어</option>
						  <option>닥스훈트</option>
						  <option>도사</option>
						  <option>동경견</option>
						  <option>라브라도리트리버</option>
						  <option>라이카</option>
						  <option>리트리버</option>
						  <option>말티즈</option>
						  <option>말티푸</option>
						  <option>미니어쳐푸들</option>
						  <option>미니어쳐핀셔</option>
						  <option>믹스견</option>
						  <option>보더콜리</option>
						  <option>보스턴테리어</option>
						  <option>불독</option>
						  <option>불테리어</option>
						  <option>브리타니스파니엘</option>
						  <option>비글</option>
						  <option>비숑프리제</option>
						  <option>사모예드</option>
						  <option>삽살개</option>
						  <option>샤페이</option>
						  <option>셰퍼드</option>
						  <option>슈나우져</option>
						  <option>스코티쉬테리어</option>
						  <option>스태퍼드셔불테리어</option>
						  <option>스탠다드푸들</option>
						  <option>스피츠</option>
						  <option>시바</option>
						  <option>시베리안허스키</option>
						  <option>시츄</option>
						  <option>아메리칸불리</option>
						  <option>아메리칸코카스파니엘</option>
						  <option>요크셔테리어</option>
						  <option>울프독</option>
						  <option>웰시코기</option>
						  <option>웰시코기카디건</option>
						  <option>웰시코기펨브로크</option>
						  <option>재패니즈스피츠</option>
						  <option>재패니즈칭</option>
						  <option>진도견</option>
						  <option>차우차우</option>
						  <option>치와와</option>
						  <option>카네코르소</option>
						  <option>코카스파니엘</option>
						  <option>토이푸들</option>
						  <option>페키니즈</option>
						  <option>포메라니안</option>
						  <option>포인터</option>
						  <option>푸들</option>
						  <option>푸숑</option>
						  <option>풍산견</option>
						  <option>프렌치불독</option>
						  <option>핏불테리어</option>
						  <option>화이트리트리버</option>
						  <option>휘펫</option>
						</select>
					</div>
					<br>
					<div class="col-6">
						<p class="text-secondary">몸무게<p>
						<div class="border-bottom d-flex justify-content-between">
							<input type="text" name="petWeight" style="border: none; background: transparent;" placeholder="kg제외">
						</div>
					</div>
					<br>
					<div class="col-2">
						<p class="text-secondary">성별<p>
						<select class="form-select" aria-label="Default select example" name="petGender">
						  <option selected>선택</option>
						  <option value="M">남아</option>
						  <option value="F">여아</option>
						</select>
					</div>
					
					<div class="col-6 mt-4">
						<p class="text-secondary">특이사항<p>
						  <label for="exampleFormControlTextarea1" class="form-label"></label>
						  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="petMemo" placeholder="특이사항은 견주님만 볼 수 있어요!"></textarea>
					</div>
					<div class="d-flex justify-content-start mt-2">
					    <button class="btn btn-dark btn-sm">확인</button>
					</div>
				</form>
			</div>
			<!-- 여기까지가 수정 -->
			<!-- 여기까지가 수정 -->
			<!-- 여기까지가 수정 -->
			<!-- 여기까지가 수정 -->
			<!-- 여기까지가 수정 -->
			<!-- 여기까지가 수정 -->
			<!-- 여기까지가 수정 -->
			<!-- 여기까지가 수정 -->
		</div>
	</main>
	<script>
		const myNav = document.getElementById("myPet1");
		$(myNav).removeClass('text-secondary');
		$(myNav).addClass('active');
		
		const profileChange = () => {
			const profile = document.getElementById("profile");
			profile.click();
		}
		
		const profile = document.getElementById('profile');
		profile.addEventListener('change', () => {
			if (profile.files.length > 0) {
	 			document.getElementById("mbPhotoForm").submit();
			}
		})			
		
		
	</script>
</body>
</html>