<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>petInfo</title>
<link rel="icon" href="/image/woofly.png">
<style>
.active {
	color: black !important;
	font-weight: 700 !important;
}
</style>
</head>
<body>
	<!-- top navigation bar -->
	<!-- 마이 페이지에 공통으로 들어가는 navigation bar -->
	<div th:replace="~{common/top :: top}"></div>
	<!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
	<main>
		<div class="d-flex justify-content-between mx-5">
			<div th:replace="~{common/myNav :: myNav}"></div>
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<div class="col-10">
				<div class="border-bottom border-3 border-black">
					<h3>마이펫 프로필 관리</h3>
				</div>
				<div
					class="d-flex align-items-center mt-5 mb-2 justify-content-center"
					style="height: 150px;">
					<img th:src="@{ ${'/image/' + session.loginUser.mbPhoto } }"
						class="mx-3" alt="편집"
						style="width: 150px; height: 150px; border-radius: 100px; border: 1px solid black; font-size: 1rem">
				</div>
				<div class="d-flex justify-content-center">
					<form action="/editPetPhoto.dw" method="POST"
						enctype="multipart/form-data" id="petPhotoForm">
						<button type="button" class="btn btn-sm btn-outline-dark"
							onclick="profileChange()">프로필 변경</button>
						&nbsp;&nbsp; <input type="file" id="profile" name="file"
							style="display: none;" accept="image/*" value="123">
					</form>
					<form action="/deletePetPhoto.dw" method="POST">
						<button type="button" class="btn btn-dark btn-sm">삭제</button>
					</form>
				</div>
				<form action="petDetail.dw" method="post">
					<div class="d-flex align-items-center justify-content-center mt-4">
						<div class="col-6">
							<p class="text-secondary">마이펫 이름</p>
							<div class="border-bottom d-flex justify-content-between">
								<p>[[${p.petName}]]</p>
								<div>
									<button class="btn btn-outline-dark btn-sm mb-2">변경</button>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center">
						<div class="col-6 mt-4 mb-5">
							<p class="text-secondary">마이펫 소개</p>
							<div class="border-bottom d-flex justify-content-between">
								<p>[[${p.petIntro}]]</p>
								<div>
									<button class="btn btn-outline-dark btn-sm mb-2">변경</button>
								</div>
							</div>
						</div>
					</div>
					<p>
						<a href="#"
							class="link-underline-secondary text-secondary d-flex justify-content-end me-5">마이펫
							프로필 삭제</a>
					</p>
					<div class="d-flex justify-content-center my-5">
						<button class="btn btn-dark col-3">수정</button>
					</div>
				</form>
			</div>
		</div>
	</main>

	<script>
		const myNav = document.getElementById("myPet1");
		$(myNav).removeClass('text-secondary');
		$(myNav).addClass('active');
		
		const profileChange = () => {
			const profile = document.getElementById("profile");
			profile.click();
		}
		
		const profile = document.getElementById('profile');
		profile.addEventListener('change', () => {
			if (profile.files.length > 0) {
	 			document.getElementById("petPhotoForm").submit();
			}
		})
	</script>
</body>
</html>