<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>petPhoto</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="icon" href="/image/woofly.png">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<style>
   .active {
      color: black !important;
      font-weight: 700 !important;
   }
</style>
</head>
<body>
   <!-- top navigation bar -->
   <!-- 마이 페이지에 공통으로 들어가는 navigation bar -->
   <div th:replace="~{common/top :: top}"></div>
   <!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
   <main>
      <div class="d-flex justify-content-between mx-5">
         <div th:replace="~{common/myNav :: myNav}"></div>
         <!-- 아래만 수정해주세요 -->
         <!-- 아래만 수정해주세요 -->
         <!-- 아래만 수정해주세요 -->
         <!-- 아래만 수정해주세요 -->
         <!-- 아래만 수정해주세요 -->
         <!-- 아래만 수정해주세요 -->
         
         <!-- 무한 스크롤 예정 -->
         
      <div class="col-10">
         <div class="border-bottom border-3 border-black">
            <h3>마이펫 사진첩</h3>
            <br>
         </div>
         <div class="d-flex justify-content-end">
             <a href="/pet/petPhotoWrite" class="btn btn-dark btn-sm mt-3 mb-2">글쓰기</a>
         </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-7">
                        <div class="ms-auto d-block">
                        <div class="d-flex align-items-center mb-1" >
                          <div class="p-2">
                               <img th:each="p : ${pList}" th:src="'/image/' + ${p.petProfile}" style="width: 50px; height: 50px; border-radius: 100px; border: 1px grey">
                          </div>
                          <div class="p-2">
                          <strong th:each="p : ${pList}" th:text="${p.petName}"></strong>
                          </div>
                          <div class="p-2 ms-auto">
                              <div class="btn-group">
                                   <svg role="button" data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots dropdown-toggle" viewBox="0 0 16 16">
                                   <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                 </svg>
                                   <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">수정</a></li>
                                      <li><a class="dropdown-item" href="#">삭제</a></li>
                                   </ul>
                              </div>
                          </div>
                        </div>
                     </div>
            		<!-- 메인 사진 -->
                    <div>
                    	<div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false">
                          <div class="carousel-inner rounded mx-auto d-block" style=" height: 500px;">
                            <div class="carousel-item" th:each="a, aStat :${aList}" th:classappend="${aStat.index == 0} ? 'active'">
                              <img th:src="|/image/${a.renameName}|" class="d-block h-100 w-100" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                     </div> 
                     
                     <div class="d-flex mt-1 border-bottom">
                       <div class="me-auto p-2">
                          <svg role="button" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                             <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                        <strong>1004</strong>
                       </div>
                       <div class="p-2">
                          <a th:if="${aList.size() > 0}" th:text="${aList[0].abDate}"></a>
                       </div>
                     </div>
                     <div class="d-flex mt-2 mb-2">
                        <p class=" mb-1">
                        <a th:if="${aList.size() > 0}" th:text="${aList[0].abContent}"></a>
                        </p> 
                     </div>
                     <div class="d-flex mt-3 border-bottom">
                        <strong>댓글 4개</strong>
                        <p role="button">&nbsp;&nbsp;모두 보기</p>
                     </div>
                     
                     <!-- 댓글 부분 -->
                     <div class="ms-auto d-block">
                        <div class="d-flex align-items-center" >
                          <div class="p-2">
                               <img src="/image/poodle2.jpg" style="width: 50px; height: 50px; border-radius: 100px; border: 1px grey">
                          </div>
                          <div class="d-flex align-items-center p-2">
                          <p class="col-3">설이</p>
                          <p class="col-9 text-secondary">&nbsp;해피야 건강하고 행복하게 오래오래 잘 살아야 한다~!</p>
                          </div>
                          <div class="p-2 ms-auto">
                             <svg role="button" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                           </svg>
                              <div class="btn-group">
                                 <svg role="button" data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots-vertical dropdown-toggle" viewBox="0 0 16 16">
                                   <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                 </svg>
                                   <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">신고</a></li>
                                      <li><a class="dropdown-item" href="#">삭제</a></li>
                                   </ul>
                              </div>
                          </div>
                        </div>
                        
                        <div class="d-flex align-items-center border-bottom" >
                          <div class="p-2">
                               <img src="/image/poodle1.jpg" style="width: 50px; height: 50px; border-radius: 100px; border: 1px grey">
                          </div>
                          <div class="d-flex align-items-center p-2">
                          <p class="col-3">뽀또</p>
                          <p class="col-10 text-secondary">&nbsp;나중에 또 같이 놀쟝!!!!!!</p>
                          </div>
                          <div class="p-2 ms-auto">
                           <svg role="button" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                             <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                           </svg>
                              <div class="btn-group">
                                 <svg role="button" data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots-vertical dropdown-toggle" viewBox="0 0 16 16">
                                   <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                 </svg>
                                   <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">신고</a></li>
                                      <li><a class="dropdown-item" href="#">삭제</a></li>
                                   </ul>
                              </div>
                          </div>
                        </div>
                         <div class="input-comment mt-3 mb-5">
                                <input id="input-comment" type="text" class="form-control" placeholder="댓글 달기...">
                            </div>
                     </div>
                    </div>
                </div>
            </div>
         </div>
      </div>
   </main>
   <script>
      const myNav = document.getElementById("myPet2");
      $(myNav).removeClass('text-secondary');
      $(myNav).addClass('active');
      
      var currentIndex = 0;
      var images = document.querySelectorAll('#image');
      var totalImages = images.length;

      function showImage(index) {
          images.forEach(function(img, i) {
              img.style.display = (i === index) ? 'block' : 'none';
          });
      }

      document.getElementById('prevBtn').addEventListener('click', function() {
          currentIndex = (currentIndex === 0) ? totalImages - 1 : currentIndex - 1;
          showImage(currentIndex);
      });

      document.getElementById('nextBtn').addEventListener('click', function() {
          currentIndex = (currentIndex === totalImages - 1) ? 0 : currentIndex + 1;
          showImage(currentIndex);
      });

      // 페이지 로드 시 첫 번째 이미지 표시
      showImage(currentIndex);
      
      
      
   </script>
</body>
</html>