<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WOOFLY</title>
<link rel="icon" href="/image/woofly.png">
<style>
	.active {
		color: black !important;
		font-weight: 700 !important;
	}
</style>
</head>
<body>
	<!-- top navigation bar -->
	<!-- 마이 페이지에 공통으로 들어가는 navigation bar -->
	<div th:replace="~{common/topAdd :: topAdd}"></div>
	<!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
	<main>
		<div class="d-flex justify-content-between mx-5">
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			<!-- 아래만 수정해주세요 -->
			
			<!-- 무한 스크롤 예정 -->
			
			<div class="col-10 mx-auto">
				<div class="border-bottom border-3 border-black">
					<h3>마이펫 사진첩</h3>
					<br>
				</div>
				<form action="/userPhoto" method="get">
					<input type="hidden" name="mbId" th:value="${pList[0].ownerId}">
					<div class="d-flex justify-content-center mt-3 mb-3">
						<div class = "p-2 bd-highlight">
						  <select class="form-select" name="petName" style="width: 160px;">
							  <option value="" selected>강아지 선택</option>
						  	  <option th:each="p : ${pList}" th:value="${p.petId}" th:text="${p.petName}"></option>
						  </select>
					 	</div>
						<div class="p-2 bd-highlight">
					  		<button class="btn btn-dark btn-sm">조회</button>
					  	</div>
					</div>
				</form>
				<!-- 1열입니당 -->
				<div class="mb-5 ">
					<div class="d-flex flex-wrap justify-content-center gap-5 mt-2">
						<div class="img-thumbnail" th:each="a : ${aList}">
					  		<img th:src="'/image/' + ${a.renameName}" th:onclick="|location.href='/pet/petPhotoDetail/${a.abNo}'|" class="card-img-top mx-auto" alt="..." style="width: 200px; height: 200px; cursor:pointer;">
							<div class="text-center">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
							  		<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
								</svg> [[${a.abLike}]] &nbsp;
								<!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-dots" viewBox="0 0 16 16">
								  <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
								  <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
								</svg> [[${#arrays.length(rList)}]] -->
							</div>
						</div>
					</div>
				</div>
				<nav th:if=${!#arrays.isEmpty(list)}>
					<ul class="pagination pagination-sm justify-content-center mt-5">
						<li class="page-item" th:if="${pi.currentPage <= 1}">
				            <a class="page-link disable" aria-label="Previous">
				                <span aria-hidden="true">&laquo;</span>
				            </a>
				        </li>
				
				        <li class="page-item" th:if="${pi.currentPage > 1}">
				            <a th:href="@{${loc}(page=${pi.currentPage - 1})}" class="page-link" aria-label="Previous">
							    <span aria-hidden="true">&laquo;</span>
							</a>
				        </li>
				
				        <th:block th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
				            <li class="page-item">
				                <a class="page-link" th:href="@{${loc}(page=${p})}" th:text="${p}"></a>
				            </li>
				        </th:block>
				
				        <li class="page-item" th:if="${pi.currentPage >= pi.maxPage}">
				            <a class="page-link" aria-label="Next">
				                <span aria-hidden="true">&raquo;</span>
				            </a>
				        </li>
				
				         <li class="page-item" th:if="${pi.currentPage < pi.maxPage}">
				                <a th:href="@{${loc}(page=${pi.currentPage + 1})}" class="page-link" aria-label="Next">
								    <span aria-hidden="true">&raquo;</span>
								</a>
				         </li>
				  	</ul>
				</nav>
				
				<div class="d-flex justify-content-center align-items-center" style="min-height: 500px" th:if="${ #arrays.isEmpty(aList) }">
					<div class="d-flex flex-column justify-content-center align-items-center">
						<img src="/'images/'+${cryingdog.png}" style="width:200px;">
						<p>사진이 없습니다.😢</p>
					</div>
				</div>
				<div th:if="${session.loginUser == null}">
					<div class="d-flex justify-content-center align-items-center" style="min-height: 500px" th:if="${ #arrays.isEmpty(aList) }">
						<div class="d-flex flex-column justify-content-center align-items-center">
							<img src="|/images/cryingdog.png|" style="width:200px;">
							<p>로그인 후 이용해주세요!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<script>
	</script>
</body>
</html>