<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" th:href="@{/image/woofly.png}">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/yh/companyEnroll.css}" /> 
<style>
	.board-list {
		cursor: pointer;
	}
</style>
</head>
<body>
   	<div th:replace="~{common/top :: top}"></div>
	<main>
		<div class="container-fluid d-flex mx-5">
			
			<!-- 관리자만 보이게!!!!!!!!!!!!!!!!!!! -->
			<th:block th:if="${session.loginUser.isAdmin == 'Y'}">
				<div th:replace="~{common/adminNav :: adminNav}"></div>
			</th:block>
			<th:block th:unless="${session.loginUser.isAdmin == 'Y'}">
				<div th:replace="~{common/infoNav :: infoNav}"></div>
			</th:block>
			
			<div class="col-10 mb-5">
			 <div class="container mt-4">
			  <div class="row">
			   <div class="col-md-12 mb-4">
			    <div class="card">
					<div class="card-header">
						<h4>업체 수정</h4>
					</div>
					<form action="/info/updateCompany" method="POST">
						<div class="card-body">
							<table class="table">
								<tbody>
									<tr>
										<th>업체명</th>
										<td>
											<input class="form-control" type="text" placeholder="업체명" aria-label="default input example" name="comName" required="required" th:value="${ c.comName }">
										</td>
									</tr>
									<tr>
										<th>업체종류</th>
										<td>
											<select class="form-control" aria-label="Default select example" name="comCategory">
												<option value="동물병원" th:selected="${ c.comCategory == '동물 병원'}">동물 병원</option>
												<option value="애견 카페" th:selected="${ c.comCategory == '애견 카페'}">애견 카페</option>
												<option value="애견 유치원" th:selected="${ c.comCategory == '애견 유치원'}">애견 유치원</option>
												<option value="애견 쇼핑몰" th:selected="${ c.comCategory == '애견 쇼핑몰'}">애견 쇼핑몰</option>
											</select>
										</td>
									</tr>
									<tr>
										<th>업체 전화번호</th>
										<td> 
											<select class="tableInput" name="tel1" style="display: inline-block; width: 25%;">
												<option value="0" >---</option>
												<option value="02" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '02'}">02</option>
												<option value="031" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '031'}">031</option>
												<option value="032" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '032'}">032</option>
												<option value="033" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '033'}">033</option>
												<option value="041" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '041'}">041</option>
												<option value="042" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '042'}">042</option>
												<option value="043" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '043'}">043</option>
												<option value="044" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '044'}">044</option>
												<option value="051" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '051'}">051</option>
												<option value="052" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '052'}">052</option>
												<option value="053" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '053'}">053</option>
												<option value="054" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '054'}">054</option>
												<option value="055" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '055'}">055</option>
												<option value="061" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '061'}">061</option>
												<option value="062" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '062'}">062</option>
												<option value="063" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '063'}">063</option>
												<option value="064" th:selected="${ (#strings.arraySplit(c.comPhone, '-')[0]) == '064'}">064</option>
											</select> - 
											<input type="number" class="tableInput" name="tel2" oninput='handleOnInput(this, 4)' style="display: inline-block; width: 35%" th:value="${ #strings.arraySplit(c.comPhone, '-')[1] }"> - 
											<input type="number" class="tableInput" name="tel3" oninput='handleOnInput(this, 4)' style="display: inline-block; width: 35%" th:value="${ #strings.arraySplit(c.comPhone, '-')[2] }">
										</td>
									</tr>
									<tr>
										<th>업체 이메일</th>
										<td>
											<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" th:value="${ c.comEmail }" name="comEmail">
										</td>
									</tr>
									
									<tr>
										<th class="tableLable"><lable>업체 주소</lable></th>
										<td>
											<input class="tableInput" type="text" placeholder="우편번호" id="sample6_postcode" name="sample6_postcode" th:value="${ #strings.arraySplit(c.comAddr, '@')[0] }"> 
											<input type="button" id="sample6" onclick="sample6_execDaumPostcode()" class="tablebutton" value="검색"><br> 
											<input type="text" class="tableInput" placeholder="기본주소" id="sample6_address" name="sample6_address" th:value="${ #strings.arraySplit(c.comAddr, '@')[1] }"><br> 
											<!-- 4 -->
											<th:block th:if="${#lists.size(#strings.arraySplit(c.comAddr, '@')) == 4}">
												<input type="text" class="tableInput" placeholder="나머지 주소(선택 입력 가능)" id="sample6_detailAddress" name="sample6_detailAddress" th:value="${ #strings.arraySplit(c.comAddr, '@')[2] }"><br>
												<input type="text" class="tableInput" id="sample6_extraAddress" placeholder="참고사항" name="sample6_extraAddress" th:value="${ #strings.arraySplit(c.comAddr, '@')[3] }" readonly="readonly">
											</th:block>
											<!-- 3 -->
											<th:block th:if="${#lists.size(#strings.arraySplit(c.comAddr, '@')) == 3}">
												<input type="text" class="tableInput" placeholder="나머지 주소(선택 입력 가능)" id="sample6_detailAddress" name="sample6_detailAddress" ><br>
												<input type="text" class="tableInput" id="sample6_extraAddress" placeholder="참고사항" name="sample6_extraAddress" th:value="${ #strings.arraySplit(c.comAddr, '@')[2] }" readonly="readonly">
											</th:block>
											<!-- 2 -->
											<th:block th:if="${#lists.size(#strings.arraySplit(c.comAddr, '@')) == 2}">
												<input type="text" class="tableInput" placeholder="나머지 주소(선택 입력 가능)" id="sample6_detailAddress" name="sample6_detailAddress" ><br>
												<input type="text" class="tableInput" id="sample6_extraAddress" placeholder="참고사항" name="sample6_extraAddress" readonly="readonly" >
											</th:block>
										</td>
									</tr>
								</tbody>
							</table>
							<input type="hidden" th:value="${ c.comNo }" name="comNo">
							<input type="hidden" th:value="${ page }" name="page">
							<div class="container text-center">
								<button class="btn btn-lg fs-10 col-2 m-0 rounded-2 btn-outline-primary">수정</button>
								<button type="button" class="btn btn-lg fs-10 col-2 m-0 rounded-2 btn-outline-dark" onclick="javascript:history.back();">이전</button>
							</div>
						</div>							
					</form>
			    </div>
			   </div>
			  </div>
			 </div>
			</div>
		</div>
    </main>
	
	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
       function sample6_execDaumPostcode() {
           new daum.Postcode({
               oncomplete: function(data) {
                   // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
   
                   // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                   // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                   var addr = ''; // 주소 변수
                   var extraAddr = ''; // 참고항목 변수
   
                   //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                   if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                       addr = data.roadAddress;
                   } else { // 사용자가 지번 주소를 선택했을 경우(J)
                       addr = data.jibunAddress;
                   }
   
                   // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                   if(data.userSelectedType === 'R'){
                       // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                       // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                       if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                           extraAddr += data.bname;
                       }
                       // 건물명이 있고, 공동주택일 경우 추가한다.
                       if(data.buildingName !== '' && data.apartment === 'Y'){
                           extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                       }
                       // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                       if(extraAddr !== ''){
                           extraAddr = ' (' + extraAddr + ')';
                       }
                       // 조합된 참고항목을 해당 필드에 넣는다.
                       document.getElementById("sample6_extraAddress").value = extraAddr;
                   
                   } else {
                       document.getElementById("sample6_extraAddress").value = '';
                   }
   
                   // 우편번호와 주소 정보를 해당 필드에 넣는다.
                   document.getElementById('sample6_postcode').value = data.zonecode;
                   document.getElementById("sample6_address").value = addr;
                   // 커서를 상세주소 필드로 이동한다.
                   document.getElementById("sample6_detailAddress").focus();
               }
           }).open();
       } 
       
       function handleOnInput(el, maxlength) {
    	   if(el.value.length > maxlength)  {
    	     el.value 
    	       = el.value.substr(0, maxlength);
    	   }
    	 }
       
       window.onload = () => {
    	   const anav = document.getElementById('myNav3')
			anav.style.fontWeight = 'bold';
       }
       
   </script>
</body>
</html>