<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" th:href="@{/image/woofly.png}">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<style>
	.board-list {
		cursor: pointer;
	}
</style>
</head>
<body>
    <div th:replace="~{common/top :: top}"></div>
	<!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
	<main>
		<div class="container-fluid d-flex mx-5">
			<!-- 마이프로필에 공통적으로 들어가는 왼쪽 탭형식에 네비게이션 바 -->
			<!-- 추후에 common 파일로 이동 할 예정 -->
			<!-- 안에 들어가있는 inline style은 추후에 수정 예정  -->
			
			<!-- 관리자만 보이게!!!!!!!!!!!!!!!!!!! -->
			<div th:replace="~{common/adminNav :: adminNav}"></div>
			
			<!-- 마이페이지 아래만 수정해주세요 -->
			<div class="col-10 mb-5">
				<div class="container mx-5 mt-5">
					<div class="container d-flex px-0 border-bottom border-black border-3 justify-content-between align-items-center">
						<h1>협력업체</h1>
						<!-- 관리자만 보이도록 -->
						<a role="button" href="#" class="btn btn-dark btn-sm h-50">업체 등록</a>
					</div>
					<form>
						<div class="row col-auto mt-3">
							<label for="search-box" class="form-label">업체 검색</label>
						</div>
						<div class="row g-0 text-center">
							<div class="col-sm-6 col-md-10 input-group-lg">
								<input type="text" id="search-box" class="form-control" placeholder="검색">
							</div>
							<div class="col-6 col-md-2">
								<button type="button" class="btn btn-outline-dark btn-lg">검색</button>
							</div>
						</div>
					</form>
                  
				<!-- 정지/탈퇴 상태는 배경색같은거 바뀌는걸로 알아챌 수 있도록 -->
				<!-- 구분쪽으로 포인터 되도록 바꾸기 -->
				<!-- 회원 선택 시 모달, 아니면 드랍다운으로 회원상세정보를 전부 띄어주기
                        거기서 정지, 탈퇴여부 결정 가능하도록 하는게 좋겠다.-->
					<div class="container board-list" id="board-list">
						<div class="row mt-3 border-top border-secondary text-center board-liste" style="height: 80px;">
							<div class="col-2" style="line-height: 80px;">업체명</div>
							<div class="col-2" style="line-height: 80px;">업체종류</div>                         
							<div class="col-5" style="line-height: 80px;">주소</div>
							<div class="col-3" style="line-height: 80px;">전화번호</div>
						</div>
						<div class="row mt-3 border-top border-secondary text-center board-liste" style="height: 80px;">
							<div class="col-2" style="line-height: 80px;">업체명</div>
							<div class="col-2" style="line-height: 80px;">업체종류</div>                         
							<div class="col-5" style="line-height: 80px;">주소</div>
							<div class="col-3" style="line-height: 80px;">전화번호</div>
						</div>
						<div class="row mt-3 border-top border-secondary text-center board-liste" style="height: 80px;">
							<div class="col-2" style="line-height: 80px;">업체명</div>
							<div class="col-2" style="line-height: 80px;">업체종류</div>                         
							<div class="col-5" style="line-height: 80px;">주소</div>
							<div class="col-3" style="line-height: 80px;">전화번호</div>
						</div>
						<div class="row mt-3 border-top border-secondary text-center board-liste" style="height: 80px;">
							<div class="col-2" style="line-height: 80px;">업체명</div>
							<div class="col-2" style="line-height: 80px;">업체종류</div>                         
							<div class="col-5" style="line-height: 80px;">주소</div>
							<div class="col-3" style="line-height: 80px;">전화번호</div>
						</div>
						<div class="row mt-3 border-top border-secondary text-center board-liste" style="height: 80px;">
							<div class="col-2" style="line-height: 80px;">업체명</div>
							<div class="col-2" style="line-height: 80px;">업체종류</div>                         
							<div class="col-5" style="line-height: 80px;">주소</div>
							<div class="col-3" style="line-height: 80px;">전화번호</div>
						</div>
						<div class="row mt-3 border-top border-secondary text-center board-liste" style="height: 80px;">
							<div class="col-2" style="line-height: 80px;">업체명</div>
							<div class="col-2" style="line-height: 80px;">업체종류</div>                         
							<div class="col-5" style="line-height: 80px;">주소</div>
							<div class="col-3" style="line-height: 80px;">전화번호</div>
						</div>
						<div class="row mt-3 border-top border-secondary text-center board-liste" style="height: 80px;">
							<div class="col-2" style="line-height: 80px;">업체명</div>
							<div class="col-2" style="line-height: 80px;">업체종류</div>                         
							<div class="col-5" style="line-height: 80px;">주소</div>
							<div class="col-3" style="line-height: 80px;">전화번호</div>
						</div>
						<div class="row mt-3 border-top border-secondary text-center board-liste" style="height: 80px;">
							<div class="col-2" style="line-height: 80px;">업체명</div>
							<div class="col-2" style="line-height: 80px;">업체종류</div>                         
							<div class="col-5" style="line-height: 80px;">주소</div>
							<div class="col-3" style="line-height: 80px;">전화번호</div>
						</div>
					</div>
	                  
					<nav class="border-top border-black pt-5">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" href="#">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item">	
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>	
			</div>
		</div>
    </main>
	
</body>
</html>