<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" href="image/woofly.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"	
	crossorigin="anonymous" />
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
      
<link rel="stylesheet" href="css/FAQList.css" />      

</head>
<body>
    <div th:replace="~{common/top :: top}"></div>
	<!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
	<main>
		<div class="container-fluid d-flex mx-5">
			<!-- 마이프로필에 공통적으로 들어가는 왼쪽 탭형식에 네비게이션 바 -->
			
			<!-- 관리자만 보이게!!!!!!!!!!!!!!!!!!! -->
			<div th:replace="~{common/adminNav :: adminNav}"></div>
			
			<!-- 마이페이지 아래만 수정해주세요 -->
			<div class="col-10 mb-5">
                <div class="offcanvas offcanvas-end w-20" data-bs-backdrop="static" data-bs-scroll="true" tabindex="-1" id="offcanvas">
                    <div class="offcanvas-header">
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                      <h5 class="offcanvas-title" id="offcanvasLabel">알림</h5>
                    </div>
                    <div class="offcanvas-body">
                        <div class="mb-5 d-flex flex-wrap">
                            <a class="btn btn-outline-secondary btn-sm px-3 active" href="#">전체</a>
                            <a class="btn btn-outline-secondary btn-sm px-3" href="#">거래</a>
                            <a class="btn btn-outline-secondary btn-sm px-3" href="#">좋아요</a>
                            <a class="btn btn-outline-secondary btn-sm px-3" href="#">댓글</a>
                            <a class="btn btn-outline-secondary btn-sm px-3" href="#">관리자</a>
                            <a class="btn btn-outline-secondary btn-sm px-3" href="#">관심</a>
                            <a class="btn btn-outline-secondary btn-sm px-3" href="#">기타</a>
                        </div>                        
						<p>Try scrolling the rest of the page to see this option in action.</p>
					</div>
				</div>  
          		
				<div class="container mx-5 mt-5">
					<div class="container d-flex px-0 border-bottom border-black border-3 justify-content-between align-items-center">
						<h1>FAQ</h1>
						<h3>자주 묻는 질문과 답변을 미리 확인해 보세요!</h3>
						<!-- 관리자만 보이도록 -->
						<a role="button" href="#" class="btn btn-dark btn-sm h-50">글 작성</a>
					</div>
					
					<!-- 카테고리 버튼들 -->
					<!-- padding 적용 시키면 좋을 듯 -->
					<div class="container text-center mt-3 row-cols-6 catagoryBar">
						<button type="button" class="btn btn-outline-dark">쇼핑몰</button>
						<button type="button" class="btn btn-outline-dark">콘테스트</button>
						<button type="button" class="btn btn-outline-dark">중고거래</button>
						<button type="button" class="btn btn-outline-dark">도그워커</button>
						<button type="button" class="btn btn-outline-dark">산책메이트</button>
					</div>
	      			
					<form>
						<div class="row col-auto mt-3">
					
						</div>
						<div class="row g-0 text-center">
							<div class="col-sm-6 col-md-1 input-group-lg" style="margin-left: 40px;"></div>
							<div class="col-sm-6 col-md-7 input-group-lg" style="margin-left: 50px;">
								<input type="text" id="search-box" class="form-control" placeholder="검색">
							</div>
							<div class="col-6 col-md-2  justify-content-end">
								<button type="button" class="btn btn-outline-dark btn-lg">검색</button>
							</div>
						</div>
					</form>
					
	                  
					<div class="wrapper">
						<div class="faq">
						    <button class="accordion">
						    	<div class="category">콘테스트</div>자주 묻는 질문 1?
						    	<i class="fa-solid fa-chevron-down"></i>
						    </button>
						    <div class="pannel">								
								<p style="display: inline-block; margin-left: 150px;" >
									답 1 답 1 답 1 답 1 답 1 답 1 답 1 답 1 답 1 답 1 답 1 답 1 
								</p>
						    </div>
						</div>
						
						<div class="faq">
						    <button class="accordion">
								<div class="category">쇼핑몰</div>자주 묻는 질문 2?
								<i class="fa-solid fa-chevron-down"></i>
							</button>
							<div class="pannel">
								<p style="display: inline-block; margin-left: 150px;" >    
							    	답 2
								</p>
							</div>
						</div>
						
						<div class="faq">
							<button class="accordion">
								<div class="category">쇼핑몰</div>자주 묻는 질문 3?
								<i class="fa-solid fa-chevron-down"></i>
							</button>
							<div class="pannel">
								<p style="display: inline-block; margin-left: 150px;" >
									답 3 
								</p>
							</div>
						</div>
						
						<div class="faq">
							<button class="accordion">
								<div class="category">도그워커</div>자주 묻는 질문 4?
								<i class="fa-solid fa-chevron-down"></i>
							</button>
							<div class="pannel">
								<p style="display: inline-block; margin-left: 150px;" >
									답 4
								</p>
							</div>
						</div>
						
						<div class="faq">
						    <button class="accordion">
								<div class="category">산책메이트</div>자주 묻는 질문 5?
								<i class="fa-solid fa-chevron-down"></i>
							</button>
							<div class="pannel">
								<p style="display: inline-block; margin-left: 150px;" >
									답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5
									답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5 답5
								</p>
						    </div>
						</div>
						
						<div class="faq">
							<button class="accordion">
								<div class="category">중고나라 </div>자주 묻는 질문 6?
								<i class="fa-solid fa-chevron-down"></i>
							</button>
							<div class="pannel">
								<p style="display: inline-block; margin-left: 150px;" >
									답 6 답 6
								</p>
							</div>
						</div>
					</div>
	                  
					<nav class=" pt-3" style="margin-left: 60px;">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" href="#">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item">	
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>	
			</div>
		</div>
    </main>
    
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function () {
				this.classList.toggle("active");
				this.parentElement.classList.toggle("active");

				var pannel = this.nextElementSibling;

				if (pannel.style.display === "block") {
					pannel.style.display = "none";
				} else {
					pannel.style.display = "block";
				}
			});
		}
		
		
		
	</script>
</body>
</html>