<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">

    <!-- 사용자와 관리자에 따라 nav 변경
         CSS 세세한 조정
         추가된 기능에 따른 nav 추가 및 변경 -->
<link rel="stylesheet" href="css/noticeDetail.css" /> 
<title>Bootstrap demo</title>

</head>
<body>
<!-- tap -->
<div th:replace="~{common/top :: top}"></div>
<!-- 메인 네비게이션 바 아래 있는 모든 요소들 -->
<main>
	
	<div class="container-fluid d-flex mx-5">
		<!-- 마이프로필에 공통적으로 들어가는 왼쪽 탭형식에 네비게이션 바 -->
		
		<!-- 관리자만 보이게!!!!!!!!!!!!!!!!!!! -->
		<div th:replace="~{common/adminNav :: adminNav}"></div>
		
		<!-- 마이페이지 아래만 수정해주세요 -->
		<div class="col-10 mb-5">
            <div class="container mt-4">
                <!-- 첫 번째 div: 신고에 관한 정보 -->
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" >
							<h5>공지사항</h5>
                            <h4>쇼핑몰</h4>
                            <div class="d-flex gap-3">
                                <button class="btn btn-outline-warning bg-warning-subtle">수정</button>
                                <button class="btn btn-outline-danger bg-danger-subtle">삭제</button>                                                
                            </div>
                        </div>
                        <div class="card-body">
							<form class="formClass" method="POST" id="detailNotice">
				            	<input type="hidden" value="" name="page">
				            	<input type="hidden" value="" name="noticeNo">
					            <div class="board_view_wrap"> <!-- 1.보드 리스트 2. 페이지영역 3. 버튼 영역 wrap으로 감쌈 -->
					                <div class="board_view">
					                    <div class="title"> <!--글 제목-->
					                        이 글은 공지사항(제목) 
					                    </div>
					                    <div class="info"> <!--글 정보-->									                        
					                        <dl>
					                            <dt>글쓴이</dt>
					                            <dd>관리자</dd>
					                        </dl>
					                        <dl>
					                            <dt>작성일</dt>
					                            <dd>2023-12-20</dd>
					                        </dl>
					                        <dl>
					                            <dt>조회</dt>
					                            <dd>197</dd>
					                        </dl>
					                    </div>
					                    <div class="text"> <!--글 내용-->
						                    <pre>가나다라마바사</pre>
					                    </div>
					                    <div class="text1"> <!--글 사진-->
						                    <img alt="공지사진 사진있을때만">
					                    </div>
					                </div>
					                <div style="text-align: center; margin-top: 10px;">
										<input class="btn btn-outline-dark" type="button" value="목 록" >
					                </div>
					            </div>
				            </form>						            
                        </div>                                                                        
                    </div>
                </div>
			</div>
		</div>
	</div>	
</main>

</body>
</html>