<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WOOFLY</title>
<link rel="icon" th:href="@{/image/woofly.png}">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<style>
	.board-list {
		cursor: pointer;
	}
</style>
</head>
<body>
    <div th:replace="~{common/top :: top}"></div>
	<main>
		<div class="container-fluid d-flex mx-5">
			
			<!-- 관리자만 보이게!!!!!!!!!!!!!!!!!!! -->
			<th:block th:if="${admin == 'Y'}">
				<div th:replace="~{common/adminNav :: adminNav}"></div>
			</th:block>
			<th:block th:unless="${admin == 'Y'}">
				<div th:replace="~{common/infoNav :: infoNav}"></div>
			</th:block>
			
			<div class="col-10 mb-5">
			 <div class="container mt-4">
			  <div class="row">
			   <div class="col-md-12 mb-4">
			    <div class="card">
					<div class="card-header">
						<h4>공지 등록</h4>
					</div>
					<div class="card-body">
						<form action="/info/insertNotice" method="POST" id="insertNotice" enctype="multipart/form-data">
							<table class="table">
								<tbody>
									<tr>
										<th>카테고리</th>
										<td>
											<select class="form-select" aria-label="Default select example" name="nCategory">
												<option value="공지" selected>공 지</option>
												<option value="콘테스트">콘테스트</option>
												<option value="쇼핑몰">쇼핑몰</option>
												<option value="커뮤니티">커뮤니티</option>
											</select>
										</td>
									</tr>
									<tr>
										<th>공지 제목</th>
										<td>
											<textarea class="form-control" rows="2" placeholder="제목" style="resize: none;" name="nTitle" required="required"></textarea>
										</td>
									</tr>
									<tr>
										<th>공지 내용</th>
										<td>
											<textarea class="form-control" rows="6" placeholder="내용" style="resize: none;" name="nContent" required="required"></textarea>
										</td>
									</tr>
									<tr>
										<th>파일 등록</th>
										<td>															
											<button type="button" class="btn btn-outline-dark" id="addFile">파일 추가</button>
											<div id="fileArea">
												<div class="mb-3 p-1 d-flex" id="thumbnailParent">
													<input type="file" class="form-control form-control" name="NoticeFile" style="width: 30%">
													<button type="button" class="btn btn-large" name="deleteThumbButton">
														<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
															<path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
															<path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
														</svg>
													</button>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="container text-center">
								<button type="button" class="btn btn-lg fs-10 col-2 m-0 rounded-2 btn-outline-primary" id="submitNotice">등록</button>
								<button type="button" class="btn btn-lg fs-10 col-2 m-0 rounded-2 btn-outline-dark" onclick="javascript:history.back();">이전</button>
							</div>
							<input type="hidden" name = "nNo" th:value="${nNo}">
						</form>
					</div>
			    </div>
			   </div>
			  </div>
			 </div>
			</div>
		</div>
    </main>
    
    
<script>
	window.onload = () =>{
		
		var fileAreaCount = 2;

		const fileArea = document.querySelector('#fileArea');
		document.getElementById('addFile').addEventListener('click', () =>{

            if(fileAreaCount <= 100) {
                const newDiv = document.createElement('div');
                newDiv.classList.add('mb-3', 'p-1', 'd-flex');
                newDiv.innerHTML = `<input type="file" class="form-control form-control" name="NoticeFile" style="width: 30%">
                					<button type="button" class="btn btn-large" name="deleteThumbButton">
		                        		<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
										  <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
										  <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
										</svg>
		                        	</button>
		                        	`;
                fileArea.append(newDiv);

                fileAreaCount += 1;

            } else {
                alert("오류");
            }
			               
		});
	
        let filesIsEmpty = true;

        // 제출 이벤트
		const form = document.getElementById('insertNotice');
		document.getElementById('submitNotice').addEventListener('click', () =>{
			const files = document.getElementsByName('NoticeFile');
			form.submit();
		});
        
        const preImage = document.createElement('img');

        fileArea.addEventListener('click', function(event){
        	const target = event.target;
        	if(target.name === 'deleteThumbButton' || target.tagName ==='svg') {
				const parentDivs = fileArea.querySelectorAll('.mb-3.p-1.d-flex');
				const parentDiv = target.closest('.mb-3.p-1.d-flex');

				if(parentDiv) {
					const index = Array.from(parentDivs).indexOf(parentDiv);
					parentDiv.remove();
					
					fileAreaCount -= 1;
				}
        	}
        });

        fileArea.addEventListener('change', function(event) {
            // 이벤트 발생된 자식 요소
            const target = event.target;

            if(target.name === 'NoticeFile'){
                const index = Array.from(fileArea.querySelectorAll('input[name="NoticeFile"]')).indexOf(target);
                console.log("index : ", index);
            } 
        });
		
		const anav = document.getElementById('myNav1')
		anav.style.fontWeight = 'bold';
	}	
</script>
	
</body>
</html>